{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set template_file = log_file %} {# We replace the template_file global because this file is a wrapper #}
{% set container_class = 'container full' %}

{% set hide_menu = true  %}
{% set source_view = false  %}

{% if git_info is not defined %}
	{% set git_info = git_info(log_file) %}
{% endif %}

{% if page_subtitle is not defined %}
	{% set page_subtitle = 'Log file: ' ~ log_file %}
{% endif %}

{% block styles -%}
	{{ parent() }}

	<!-- log styles -->
	<style>
		.dclog { white-space:pre-wrap !important; border:.05rem solid #e5e5e5; border-radius: .25rem; padding: .25rem; }
		.dclog > .nick { font-weight:bold }
		.bs-dark .dclog > .nick { font-weight:bolder; color:#CCC }
		.dclog > .timestamp { color:#CCC }
		.dclog > .timestamp > a, .dclog > .timestamp > a:visited { color:#CCC; text-decoration:none !important }
		.dclog > .timestamp > a:hover { color:#BFBFBF; text-decoration:none !important }
		.bs-dark .dclog > .timestamp > a:hover { color:#D9D9D9; text-decoration:none !important }
		.dclog > img.emoji { font-size:16px; height:1em; width:1em; margin:0 .05em 0 .1em; vertical-align:-0.1em }

		@media print {
			.dclog { border:none !important; page-break-inside:auto !important; page-break-before:avoid !important }
			.dclog span.ln { display:none !important }
		}

		@media screen {
			.dclog { max-height: calc(100vh - 18rem); overflow-y: scroll; }

			.dclog { counter-reset:ln }
			.dclog span.ln:before { counter-increment:ln; content:counter(ln, decimal-leading-zero) " "; display:inline-block; color:#888 !important; text-decoration:none !important }
			.bs-dark .dclog span.ln:before { color:#616161 !important }

			@counter-style counter-ln { system:extends decimal; pad:3 '0' }
			.dclog span.ln:before { content:counter(ln, counter-ln) " " }
		}
	</style>
{% endblock %}

{% block scripts -%}
	{{ parent() }}

	<!-- twemoji.js - Twitter Emoji, MIT (code) & CC-BY 4.0 (graphics) - https://twemoji.twitter.com/ -->
	<script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
	<script>
		$(function () {
			var content = $('.dclog');
			content.html(twemoji.parse(content.html()));

			var displayToggle = function(selector) {
				var ln = $(selector);
				if (ln.hasClass('d-none')) {
					ln.removeClass('d-none');
				} else {
					ln.addClass('d-none');
				}
			};

			$('button.ln-toggle').removeClass('d-none').click(function () { displayToggle('.dclog span.ln'); });
			$('button.ts-toggle').removeClass('d-none').click(function () { displayToggle('.dclog span.timestamp'); });
		});
	</script>
{% endblock %}

{% block content -%}
	<div class="pb-2 d-print-none">
		<h4 class="float-left">
			{% if log_name is defined %}Meeting log: "{{ log_name }}"<small class="text-muted"> @ {{ log_day | date('l jS \\o\\f F Y') }}</small>{% else %}{{ page_subtitle }}{% endif %} 
		</h4>
		<div class="buttons text-right">
			<button type="button" class="ts-toggle btn btn-primary d-none mb-1" data-toggle="button" aria-pressed="true" autocomplete="off" title="Toggle timestamps">
				<i class="fas fa-clock"  aria-hidden="true"></i>
			</button>
			<button type="button" class="ln-toggle btn btn-primary active d-none mb-1" data-toggle="button" aria-pressed="true" autocomplete="off" title="Toggle line numbers">
				<i class="fas fa-list-ol"  aria-hidden="true"></i>
			</button>
			<a class="btn btn-primary mb-1" role="button" href="{{ util.sanitize_url(page_url, 'source=raw') }}">
				<i class="fas fa-file-alt"  aria-hidden="true"></i> Raw Log
			</a>
			<a class="btn btn-primary mb-1" role="button" href="{{ util.sanitize_url(page_url, 'download=1') }}">
				<i class="fas fa-download" aria-hidden="true"></i> Download
			</a>
		</div>
	</div>

	<div>
		<pre class="dclog">
			{%- dclog log_file %} {#- cache doesn't invalidate when classes the parser depends on change, e.g. auto linking -#}
		</pre>
	</div>
{% endblock %}
