{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@extension/dclog_view.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set git_info = false %}
{% set page_subtitle = 'Development Hub Chat' %}

{% block scripts -%}
	{{ parent() }}

	<script>
		$(function () {
			var chat = $('.dclog');
			if (!window.location.hash)
				chat.scrollTop(chat.get(0).scrollHeight);
		});
	</script>
{% endblock %}

{% block content -%}
	{{ parent() }}

	<div class="alert alert-warning fade show d-print-none" role="alert">
		<i class="fas fa-info-circle fa-lg" title="Info:"></i> Note that DCNF is not responsible for comments made by individuals that freely visit the organization hub. <strong>This page is an automated verbatim copy of recent chat activity, always use discretion when following any links on this page.</strong>
	</div>
{% endblock %}
