{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
* @license https://creativecommons.org/licenses/by/3.0/legalcode Creative Commons CC-BY 3.0 (see README.md)
*
#}

{%- import '@template/macros.twig' as util -%}

{# Set some default values that child templates can not touch #}
{%- set default_owner = 'Direct Connect Network Foundation' -%}
{%- set default_domain = 'www.dcbase.org' -%}
{%- set is_root_domain = default_domain in base_url -%}

{#
	Set globals that can be overriden from inheriting templates.
	Note: boolean values can not use Twig's default filter, because false is an empty value
#}
{%- set theme = theme | default(load_json('@template/theme.json')) -%}
{%- set content_owner = content_owner | default(default_owner) -%}
{%- set container_class = container_class | default('container') -%}
{%- set menu_file = menu_file | default('site_menu.json') -%}
{%- set source_view = (source_view is not defined or source_view is null) ? true : source_view -%}
{%- set hide_menu = (hide_menu is not defined or hide_menu is null) ? false : hide_menu -%}

{# These are for footer links, useful for subprojects #}
{%- set privacy_link = privacy_link | default('//' ~ default_domain ~ '/privacy#privacy') -%}
{%- set cookie_link = cookie_link | default('//' ~ default_domain ~ '/privacy#cookies') -%}
{%- set info_link = info_link | default('//' ~ default_domain ~ '/privacy#open_source') -%}
{%- set git_base_url = (constant('GIT_PUBLIC_URL') is not defined or git_base_url is same as(false)) ? false : (git_base_url | default(constant('GIT_PUBLIC_URL'))) -%}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head -%}
	{% block meta -%}
	<meta charset="{{content_encoding}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="copyright" content="Copyright © {{ 'now' | date('Y') }} {{ content_owner }}">

	<!-- Site icons -->
	<meta name="apple-mobile-web-app-title" content="{{ content_owner }}">
	<meta name="application-name" content="{{ content_owner }}">
	<meta name="msapplication-config" content="{{ make_url(theme.assets_url ~ '/browserconfig.xml') }}">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="{{ make_url(theme.assets_url ~ '/img/icons/mstile-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
	{%- endblock %}

	<title>{% block title %}{{ util.default_title(content_owner, page_subtitle) }}{% endblock %}</title>

	<!-- Site icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ make_url(theme.assets_url ~ '/img/icons/apple-touch-icon.png') }}">
	<link rel="mask-icon" href="{{ make_url(theme.assets_url ~ '/img/icons/safari-pinned-tab.svg') }}" color="#2b5797">
	<link rel="icon" type="image/png" href="{{ make_url(theme.assets_url ~ '/img/icons/favicon-16x16.png') }}" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ make_url(theme.assets_url ~ '/img/icons/favicon-32x32.png') }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ make_url(theme.assets_url ~ '/img/icons/favicon-194x194.png') }}" sizes="194x194">
	<link rel="icon" type="image/png" href="{{ make_url(theme.assets_url ~ '/img/icons/android-chrome-192x192.png') }}" sizes="192x192">
	{% if is_root_domain %}<link rel="manifest" href="{{ make_url(theme.assets_url ~ '/manifest.json') }}">{% endif %} 
	<link rel="shortcut icon" href="{{ make_url('/favicon.ico') }}">

	{% block styles -%}
	<!-- Common CSS dependencies -->
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/{{ theme.bootstrap_version }}/css/bootstrap.min.css">
	<link rel="alternate stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/{{ theme.bootstrap_version }}/slate/bootstrap.min.css" title="dark" media="screen">
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/{{ theme.bootstrap_version }}/litera/bootstrap.min.css" media="print">

	<!-- CSS for browsers without JavaScript -->
	<noscript>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/css/solid.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/css/brands.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/css/fontawesome.css">
	</noscript>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ make_url(theme.assets_url ~ '/css/custom.css') }}">
	<link rel="stylesheet" href="{{ make_url(theme.assets_url ~ '/css/print.css') }}" title="paged" media="print" disabled="true">

	{%- endblock %}
{%- endblock %}
</head>
<body>
	<div class="{{container_class}}">
		<header class="header clearfix">
		{% block header -%}
			{% set site_menu = load_json(menu_file) | default([{'link': '/', 'text': 'Home'}]) -%}

			<div class="d-sm-inline-block d-print-block mb-2">
				<h4 class="d-inline">
					<a class="link-unstyled" href="{{ make_url('/') }}">
						<span class="text-hide logo-s50">DCNF</span>&nbsp;<small class="{% if not hide_menu %}d-sm-none d-lg-inline {% endif %}d-print-inline tagline">{{ content_owner }}</small>
					</a>
				</h4>

				{% if git_info %}
				<span class="d-none d-print-inline h6 print-pubdate float-right">{{ git_info.date | date('Y-m-d') }}</span>
				{%- endif %}

				{% if not hide_menu and not (site_menu is empty) -%}
				<button class="d-block d-sm-none d-print-none float-right btn btn-sm btn-outline-secondary"
					type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
					<i class="fas fa-bars" aria-hidden="true"></i> <span class="sr-only">Menu</span>
				</button>
				{%- endif %} 
			</div>

			<nav class="d-block d-sm-inline float-sm-right d-print-none">
				{% if not hide_menu and not (site_menu is empty) -%}
				<div class="collapse d-sm-block" id="collapseMenu">
					<ul class="nav nav-pills mb-3 flex-column flex-sm-row">
						{{ util.build_menu(site_menu, page_subtitle) }} 
					</ul>
				</div>
				{%- else -%}
				<a class="back-link mb-2 float-right btn btn-primary" href="{{ make_url(base_url) }}" role="button"><i class="fas fa-chevron-left fa-lg" aria-hidden="true"></i> Go Back</a>
				{%- endif %} 
			</nav>
		{%- endblock %}
		</header>

		<main class="content" role="main">
			<div class="print-spacer-header" aria-hidden="true" role="presentation"><div><div>&nbsp;</div></div></div>
			<div class="print-spacer-footer" aria-hidden="true" role="presentation"><div><div>&nbsp;</div></div></div>

			<div id="page-content">
			<noscript>
				<div class="alert alert-warning d-print-none" role="alert">
					<i class="fas fa-exclamation-triangle" title="Notice:"></i>
					This website requires JavaScript to be available for the best user experience.
				</div>
				<div class="alert alert-info d-none d-print-block" role="alert">
					<i class="fas fa-info-circle fa-lg" title="Info:"></i>
					Consider enabling JavaScript in your browser for enhanced printing support.
				</div>
			</noscript>

			{% block content %}{% endblock %}
			</div>
		</main>

		<footer class="footer">
			<p>
				Copyright © {{ 'now' | date('Y') }} {{ content_owner }} 
				<small class="float-right d-none d-lg-inline d-print-none">
					{{ util.git_stats(git_info) }} {{ util.page_stats() }} |
					{% if source_view -%}
					{% if git_info and git_base_url and is_root_domain -%}
					<a class="history-link" href="{{ make_url(git_base_url ~ '/commits/master' ~ git_info.file) }}" rel="nofollow">History</a> |
					{%- endif %} 
					<a class="source-link" href="{{ make_url(path_info, 'source=view') }}" rel="nofollow">Source</a> |
					{%- endif %} 
					<a class="style-toggle d-none" href="#"></a>
				</small>
				<br>
				<small class="d-print-none">
					Powered by <a href="{{ make_url(info_link) }}">Open Source</a> | <a class="privacy-link" href="{{ make_url(privacy_link) }}">Privacy Information</a> | <a class="cookie-link" href="{{ make_url(cookie_link) }}">Cookies</a>
				</small>
				{% if content_owner != default_owner or not is_root_domain -%}
				<small class="float-right d-print-none">Hosted by <a href="{{ make_url('//' ~ default_domain ~ '/') }}">{{ default_owner }}</a></small>
				{%- endif %} 
				<small class="d-none d-print-inline"> Originally published at: {{ make_url(page_url) }}</small>
				<span class="d-none d-print-inline h6 print-pages float-right"><span> </span></span>
			</p>
		</footer>
	</div>
	{% block scripts -%}
	<!-- JavaScript dependancies -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/{{ theme.jquery_version }}/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/{{ theme.popper_version }}/umd/popper.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ theme.bootstrap_version }}/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/{{ theme.jscookie_version }}/js.cookie.js"></script>
	<script src="//use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/js/solid.js"></script>
	<script src="//use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/js/brands.js"></script>
	<script src="//use.fontawesome.com/releases/v{{ theme.fontavesome_version }}/js/fontawesome.js"></script>
	<script src="{{ make_url(theme.assets_url ~ '/js/libs/jquery.toc/jquery.toc.js') }}"></script>

	<!-- DCBase javascript -->
	<script src="{{ make_url(theme.assets_url ~ '/js/dcbase.js') }}"></script>

	<script>
		var dcbase = new DCBase('{{ base_url }}', '{{ theme.default_style }}');

		$(function() {
			dcbase.styleToggle(['default', 'dark']);
		});
	</script>
	{%- endblock %}
</body>
</html>
