{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set git_info = readme ? git_info(readme.path) : false %}
{% set source_view = false %}

{% block meta -%}
	{{ parent() }}

	<meta name="robots" content="noindex">
{% endblock %}

{% block title %}{{ util.default_title(content_owner, 'Index of: ' ~ relative_root) }}{% endblock %}

{% block content -%}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			{% for item in breadcrumbs -%}
				{% if not loop.last -%}
				<li class="breadcrumb-item"><a href="{{ util.sanitize_url(item.directory_path) }}">{{ item.directory_name }}</a></li> 
				{% else -%}
				<li class="breadcrumb-item active">{{ item.directory_name }}</li>
				{% endif -%}
			{% endfor -%}
			</ol>
		</nav>

		<div class="card shadow-sm">
			<div class="list-group list-group-flush">
				<div class="list-group-item">
					<div class="row">
						<span class="file-name col-lg-7 col-md-6 col-sm-9">
							<a class="link-unstyled" href="{{ util.sanitize_url(path_info, sort_info.name.sort_params) }}"> <strong>{{ util.sort_arrow(sort_info.name) }} File Name</strong> </a>
						</span>
						<span class="file-modified col-lg-3 col-md-4 d-none d-md-inline text-right">
							<a class="link-unstyled" href="{{ util.sanitize_url(path_info, sort_info.time.sort_params) }}"> <strong>File Modified {{ util.sort_arrow(sort_info.time) }}</strong> </a>
						</span>
						<span class="file-size col-lg-2 col-md-2 col-sm-3 text-right">
							<a class="link-unstyled" href="{{ util.sanitize_url(path_info, sort_info.size.sort_params) }}"> <strong>File Size {{ util.sort_arrow(sort_info.size) }}</strong> </a>
						</span>
					</div>
				</div>
	{% if parent_directory %}
				<a class="file-link list-group-item list-group-item-action" href="{{ util.sanitize_url(parent_directory.file_path) }}">
					<div class="row">
						<span class="file-name col-lg-7 col-md-6 col-sm-9"> <i class="fas fa-level-up-alt" title="Parent Folder"></i> {{ parent_directory.file_name }}</span>
						<span class="file-modified col-lg-3 col-md-4 d-none d-md-inline text-right"> - </span>
						<span class="file-size col-lg-2 col-md-2 col-sm-3 text-right"> - </span>
					</div>
				</a>
	{% endif %}
	{% for item in directories %}
				<a class="file-link list-group-item list-group-item-action" href="{{ util.sanitize_url(item.file_path) }}">
					<div class="row">
						<span class="file-name col-lg-7 col-md-6 col-sm-9"> <i class="fas fa-folder-open" title="Folder"></i> {{ item.file_name }}</span>
						<span class="file-modified col-lg-3 col-md-4 d-none d-md-inline text-right">{{ item.file_time | date('Y-m-d H:i:s') }}</span>
						<span class="file-size col-lg-2 col-md-2 col-sm-3 text-right"> - </span>
					</div>
				</a>
	{% endfor %}
	{% for item in files %}
				<a class="file-link list-group-item list-group-item-action" href="{{ util.sanitize_url(item.file_path, item.file_params) }}" rel="nofollow">
					<div class="row">
						<span class="file-name col-lg-7 col-md-6 col-sm-9"> <i class="fas fa-file" title="File"></i> {{ item.file_name }}</span>
						<span class="file-modified col-lg-3 col-md-4 d-none d-md-inline text-right">{{ item.file_time | date('Y-m-d H:i:s') }}</span>
						<span class="file-size col-lg-2 col-md-2 col-sm-3 text-right">{{ util.format_bytes(item.file_size) }}</span>
					</div>
				</a>
	{% endfor %}
			</div>
	{% if empty_directory %}
			<div class="card-body">
				<p class="text-center h4">There is nothing here, but an empty directory...</p>
			</div>
	{% endif %}
		</div>

	{% if readme %}
		<div class="row marketing">
			<div class="col-lg-12 readme-content">

			{% if readme.type == 'twig' -%}
				{% include readme.path %}
			{% elseif readme.type == 'markdown' -%}
				{% markdownextra readme.path nocache %}
			{% else -%}
				<pre>{{ source(readme.path, true) }}</pre>
			{% endif %}

			</div>
		</div>
	{% endif %}
{% endblock %}
