{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set source_view = false %}

{% block title %}{{ util.default_title(content_owner, status_code ~ ' - ' ~ status_message) }}{% endblock %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">
				<h2 class="text-danger">Error - {{ status_message }}</h2>

				<p>
				  {% if message %}{{ message | raw }}{% else -%}
					The server encountered an error while processing your request (HTTP: {{ status_code }}).
				  {%- endif %}
				</p>
			</div>
		</div>

		<div class="row marketing text-center">
			<div class="col-lg-12">
				Please, <a class="back-link" href="{{ make_url(base_url) }}">Go Back</a>.
			</div>
		</div>
{% endblock %}
