{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{# Spaces in URL's are evil, begone! (wraps make_url()) #}
{% macro sanitize_url(resource, params = false) %}
{% apply spaceless %}
	{% autoescape false %}
		{% set encoded_resource = resource | e('url') %}
		{% set encoded_resource = encoded_resource | replace({'%2F': '/', '%5C': '/', '%3A': ':', '%3F': '?', '%26': '&', '%3D': '=', '%40': '@'}) %}
	{% endautoescape %}
	{{ make_url(encoded_resource, params) }}
{% endapply %}
{% endmacro %}

{# Format byte size as human readable string for output #}
{% macro format_bytes(bytes) %}
{% apply spaceless %}
	{% set kilobyte = 1024 %}
	{% set megabyte = kilobyte * 1024 %}
	{% set gigabyte = megabyte * 1024 %}
	{% set terabyte = gigabyte * 1024 %}

	{% if bytes < kilobyte %}
		{{ bytes ~ ' B' }}
	{% elseif bytes < megabyte %}
		{{ (bytes / kilobyte)|number_format(2, '.') ~ ' KiB' }}
	{% elseif bytes < gigabyte %}
		{{ (bytes / megabyte)|number_format(2, '.') ~ ' MiB' }}
	{% elseif bytes < terabyte %}
		{{ (bytes / gigabyte)|number_format(2, '.') ~ ' GiB' }}
	{% else %}
		{{ (bytes / terabyte)|number_format(2, '.') ~ ' TiB' }}
	{% endif %}
{% endapply %}
{% endmacro %}

{# TOC Helper, uses jquery.toc. Spaceless is used for use within markdown documents #}
{% macro toc(css_class = "", headings = "h3,h4,h5", container = "div.row.marketing") %}
{% apply spaceless %}
	<div class="toc {{css_class}}">
		<ol data-toc="{{ container }}" data-toc-headings="{{ headings }}"></ol>
		<noscript><p><em>You need JavaScript enabled for Table of Contents generation.</em></p></noscript>
	</div>
{% endapply %}
{% endmacro %}

{# Shorthand wrappers for title and date #}
{% macro default_title(sitename, page_title) -%}
	{{ sitename ~ ' • ' ~ page_title }}
{%- endmacro %}

{% macro format_date(ts = "now") -%}
	{{ ts | date("F jS Y - g:ia", "UTC") }} (UTC)
{%- endmacro %}

{# Page stats output helpers #}
{% macro page_stats() -%}
	{{ page_time() }}s {% if is_debug() %}| {{ page_memory() }}{% endif %}
{%- endmacro %}

{% macro git_stats(stats) -%}
	{% if stats %} Last update: {{ stats.timestamp | date_relative }}{% if stats.author_name %} by {{ stats.author_name }}{% endif %} |{% endif %}
{%- endmacro %}

{# Menu output helpers #}
{% macro build_menu(site_menu, page_subtitle) %}
{% apply spaceless %}
	{% import _self as util %}

	{% for item in site_menu | filter(v => not (v.hidden|default(false))) %}
		{% set dropdown_menu = item.subitems ? (item.subitems | filter(v => not (v.hidden|default(false)))) : [] %}

		{% if dropdown_menu is empty %}
		{{ util.menu_item(item.link, item.text, item.current ? item.current : page_subtitle) }}
		{% else %}
		{{ util.menu_dropdown(item.text, page_subtitle) }}
			{% for subitem in dropdown_menu %}
				{% if subitem == '---' or subitem.text == '---' %}
				<div class="dropdown-divider"></div>
				{% else %}
				{{ util.dropdown_item(subitem.link, subitem.text, subitem.current ? subitem.current : page_subtitle) }}
				{% endif %}
			{% endfor %}
		{{ util.end_dropdown() }}
		{% endif %}
	{% endfor %}
{% endapply %}
{% endmacro %}

{% macro menu_item(item_link, item_name, current = '', extra_class = '') %}
{% apply spaceless %}
	{% set clean_name = item_name | striptags %}
	{% if clean_name == current %}
		{% set extra_class = 'active' ~ extra_class %}
	{% endif %}

	<li class="flex-sm-fill text-sm-center nav-item">
		<a class="nav-link{% if extra_class %} {{ extra_class }}{% endif %}" href="{{ make_url(item_link) }}">
			{% if clean_name == current %}{{ clean_name }}{% else %}{{ item_name | raw }}{% endif %}
		</a>
	</li>
{% endapply %}
{% endmacro %}

{% macro menu_dropdown(item_name, current = '', extra_class = '') %}
{% apply spaceless %}
	{% set clean_name = item_name|striptags %}
	{% if clean_name == current %}
		{% set extra_class = 'active ' ~ extra_class %}
	{% endif %}

	<li class="flex-sm-fill text-sm-center nav-item dropdown">
		<a class="nav-link{% if extra_class %} {{ extra_class }}{% endif %} dropdown-toggle"
			data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			{% if clean_name == current %}{{ clean_name }}{% else %}{{ item_name | raw }}{% endif %}
		</a>
		<div class="dropdown-menu">
{% endapply %}
{% endmacro %}

{% macro dropdown_item(item_link, item_name, current = '', extra_class = '') %}
{% apply spaceless %}
	{% set clean_name = item_name | striptags %}
	{% if clean_name == current %}
		{% set extra_class = 'active' ~ extra_class %}
	{% endif %}

		<a class="dropdown-item{% if extra_class %} {{ extra_class }}{% endif %}" href="{{ make_url(item_link) }}">
			{% if clean_name == current %}{{ clean_name }}{% else %}{{ item_name | raw }}{% endif %}
		</a>
{% endapply %}
{% endmacro %}

{% macro end_dropdown() -%}
		</div>
	</li>
{%- endmacro %}

{# Directory Index output helpers #}
{% macro sort_arrow(sort_info) -%}
	{% if sort_info.sort_direction != (0 - 1) %}<i class="fa {{ sort_info.sort_direction > 0 ? 'fa-chevron-up' : 'fa-chevron-down' }}" title="Sort {{ sort_info.sort_direction > 0 ? 'ascending' : 'descending' }}"></i>{% endif %}
{%- endmacro %}
