{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set git_info = git_info(markdown_file) %}
{% set template_file = markdown_file %} {# We replace the template_file global because this file is a wrapper #}

{% set page_subtitle = markdown_file | replace({ '.twig' : '' }) %}
{% set hide_menu = true  %}

{# this loads front matter from the file and assigns its content to current scope #}
{% metafile markdown_file %}

{% block content -%}
	{% if (markdown_file | pathinfo('PATHINFO_EXTENSION')) == 'twig' %}{% markdownextra markdown_file nocache %}{% else %}{% markdownextra markdown_file %}{% endif %}
{% endblock %}
