{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set git_info = false %} {# Assume PDF files are not versioned #}
{% set template_file = source_file %} {# We replace the template_file global because this file is a wrapper #}
{% set source_view = false %}

{# Cache the pathinfo call #}
{% set source_basename = source_file | pathinfo('PATHINFO_BASENAME') %}

{% if not page_subtitle -%}
	{% set page_subtitle = 'Viewing ' ~ source_basename %}
{% endif %}
{% if not hide_menu -%}
	{% set hide_menu = true %}
{% endif %}

{% block scripts -%}
	{{ parent() }}

	<script>
		$(function () {
			if (!dcbase.hasPdfSupport()) {
				$('.pdf-title').text("Downloading {{ source_basename }}");
				$('.pdf-container').addClass('hidden');

				window.location = "{{ util.sanitize_url('/' ~ source_file, 'download=1') | e('js') }}";
			}
		});
	</script>
{% endblock %}

{% block content -%}
	<h4 class="pdf-title float-left">Viewing {{ source_basename }}</h4>

	<p class="text-right">
		<a href="{{ util.sanitize_url('/' ~ source_file, 'download=1') }}" class="btn btn-primary" role="button"><i class="fas fa-download" aria-hidden="true"></i> Download</a>
	</p>
	<div class="embed-responsive pdf-container shadow-sm">
		<embed src="{{ util.sanitize_url('/' ~ source_file) }}" type="application/pdf" alt="PDF File" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
	</div>
{% endblock %}
