{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
* Note: absence of make_url calls to avoid potential double processing
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set source_view = false %}

{% block meta -%}
	{{ parent() }}

	<meta http-equiv="refresh" content="{{redirect_time}}; url={{redirect_url}}">
{% endblock %}

{% block title %}{{ util.default_title(content_owner, 'Redirecting...') }}{% endblock %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">
				<h2>{% if message %}{{ message | raw }}{% else %}{{ status_code }} - {{ status_message }}{% endif %}</h2>

				<p>
				  Please wait a moment while we transfer you to your destination. If your browser does not automatically 
				  redirect you in a moment please click the link below to get to the next page.
				</p>
			</div>
		</div>

		<div class="row marketing text-center">
			<div class="col-lg-12">
				<a href="{{redirect_url}}">Click here if you do not wish to wait</a>
			</div>
		</div>
{% endblock %}
