{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set git_info = git_info(source_file) %}
{% set template_file = source_file %} {# We replace the template_file global because this file is a wrapper #}
{% set source_view = false %}

{% if not page_subtitle -%}
	{% set page_subtitle = 'Source of: ' ~ source_file %}
{% endif %}
{% if not hide_menu -%}
	{% set hide_menu = true %}
{% endif %}

{% block styles -%}
	{{ parent() }}

	<!-- highlight.js -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ theme.highlightjs_version }}/styles/github.min.css">
{% endblock %}

{% block scripts -%}
	{{ parent() }}

	<!-- highlight.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ theme.highlightjs_version }}/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ theme.highlightjs_version }}/languages/{{ source_lang }}.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();

		var sourceRefs = function(idx, element, passes = 1) {
			element = $(element).parent();
			for (var i = 0; i < passes; ++i) {
				element.html(element.html().replace(
					/\'([\w\/\.]+)\'((?:.*?)\%\})/gm, 
					"'<a class=\"src-ref\" href=\"{{base_url}}/$1?source=view\" rel=\"nofollow\">$1</a>'$2"
				));
			}
		}

		$(function () {
			$('button.wordwrap-toggle').removeClass('d-none').click(function () {
				if ($('div.source-container').hasClass('wordwrap')) {
					$('div.source-container').removeClass('wordwrap');
				} else {
					$('div.source-container').addClass('wordwrap');
				}
			});

			{% if source_lang == 'twig' -%}
			$('.hljs-template-tag > .hljs-name:contains(markdown)').each(function (i, e) { sourceRefs(i, e, 2); });
			$('.hljs-template-tag > .hljs-name:contains(include)').each(function (i, e) { sourceRefs(i, e); });
			$('.hljs-template-tag > .hljs-name:contains(import)').each(function (i, e) { sourceRefs(i, e); });
			$('.hljs-template-tag > .hljs-name:contains(extends)').each(function (i, e) { sourceRefs(i, e); });
			{%- endif %}

		});
	</script>
{% endblock %}

{% block content -%}
	<h4 class="float-left">Source of: {{ source_file }}</h4>

	<p class="text-right">
		<button type="button" class="wordwrap-toggle d-none btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Word Wrap</button>
		{% if git_info and git_base_url and is_root_domain -%}
		<a href="{{ make_url(git_base_url ~ '/blob/master' ~ git_info.file) }}" class="btn btn-primary" rel="nofollow">View in Git</a>
		{%- endif %} 
	</p>
	<div class="card bg-light shadow-sm">
		<div class="card-body p-0 source-container">
		<pre class="m-0">
			<code class="{{ source_lang }}">
			{{- source(source_file) | e('html') -}}
			</code>
		</pre>
		</div>
	</div>
{% endblock %}
