{# using the file extension .md.twig allows twig functions and macros to be used #}
{%- import '@template/macros.twig' as util -%}

{# meeting dates #}
{%- set meeting_date = 'February 09th, 2020 19:00 CET' -%}
{# {%- set next_meeting = '' -%} #}

{# meeeting positions #}
{%- set meeting_supervisor = 'Pretorian' -%}
{%- set meeting_secretary = 'Crise' -%}
{%- set meeting_adjuster = 'poy' -%}
{%- set meeting_counter = 'cologic' -%}

{# Note the difference in headers to monthly/quarterly meeting template #}
<div class="jumbotron" markdown="1">
Annual organization meeting protocol
----------------------
*{{ meeting_date | date('F, Y') }}*

Meeting occurred *{{ meeting_date }}.*  
Protocol document written by *{{ meeting_secretary }}* {% if meeting_adjuster != false %}and
adjusted by *{{ meeting_adjuster }}*{% else %}**pending protocol adjustment**{% endif %}
</div>

<div class="alert alert-info d-print-none" role="alert">
<i class="fas fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

### Contents {.toc-heading}

{{ util.toc('unstyled', 'h3:not(.toc-heading),h4,h5') }}

<!-- pagebreak -->

### Preface

This document is intended to be accompanied by the full (verbatim transcript)
meeting minutes that should have been provided alongside the document itself.
The aim of this document is to be as much of an objective summary of the
contents of the meeting as possible.

This document pertains to the organization's annual meeting for the year
of {{ meeting_date | date('Y') }}. The timestamps on the accompanying
meeting minutes are normally accurate to the time zone of the meeting's
assigned secretary.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

### Members in attendance

- {{ meeting_supervisor }} (supervisor)
- {{ meeting_secretary }} (secretary)
- cologic
- Dexo
- poy
- Kchouette
- Delion

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

### 1. Opening of Meeting

Pretorian opened the meeting as the interim meeting supervisor and attending members announced their presence. All
attending members accepted the by-laws.

#### 1.2 Choice of meeting supervisor and secretary

{{ meeting_supervisor }} was elected as the meeting supervisor and {{ meeting_secretary }} as the meeting
secretary.

#### 1.3 Voting length

Voting length was set to two (2) minutes, proposal for using a longer (4 minute) voting period was put forward
but the shorter voting period was agreed to after brief discussion on the matter.

#### 1.4 Choice of meeting vote counter and meeting protocol adjuster

{{ meeting_counter }} was elected as the meeting vote counter and
{% if meeting_adjuster != meeting_counter %}{{ meeting_adjuster }}{% endif %} as the meeting protocol adjuster.

#### 1.5 Fair announcement

All (7) attending members agreed that the meeting was announced correctly.

<!-- pagebreak -->

### 2. Meeting items

{{ meeting_supervisor }} called for meeting item suggestions and the following items were
brought up or previously submitted.

1. Review of last year's items and the organization's management of them
2. Changing bylaws
3. ALPN implementation status
4. Updating some software in use by the DCNF (e.g. phpbb to discourse)
5. The fate of additional scheduled meetings (quarterly or otherwise)
6. The organization's hub certificate
7. Setting up a forge for current projects
8. Getting the word out
9. Protocol spec hosting, and optionally hosting of other projects
10. Dedicated emails for organization business

Discussion on the order of handling business happened here because, as per Pretorian, in the previous annual meeting
the items were discussed immediately. It was decided that the meeting would proceed in the intended order of handling
the items set in the bylaws before items brought up here.

### 3. Board Information

The organization's activities are deferred to the meeting item "Review of last
year's items and the organization's management of them".

Pretorian reported the accounting and economic state of the organization. The organization has received monetary
donations and membership fees through PayPal and as of 2020-01-12 16:39 (CET), the current balance was 162.22 EUR (€).

There has been one outgoing purchase, and that was of the dedicated web server the organization uses. The purcahse was
for 303.26 EUR (€). The domain's cost should be included as a separate purchase. However, according to Pretorian's own
account while the cost of the domain should be a separate purchase the situation is seemingly unchanged from the
previous year. The exact value of the domain name was not stated. *However, this should hopefully change over the next
(2020) period*.

The total amount the organization has accumulated over this previous year was therefore:
162.22 + 303.26 = 465.48 EUR (€). See also the balance from last year in the annual meeting for 2019).

Therefore the financial status of the organization is as follows:

| Item                         | Amount EUR (€)             | {.table.table-striped}
| :--------------------------- | -------------------------: |
| Donations and member fees*   |                    +465.48 |
| Server costs                 |                    -303.26 |
| Taxes**                      |                       0.00 |

<small>*) Including purchases.</small>
<small>**) The information received from the Swedish taxation service: no
outstanding items for submission for 2019 (finance year 2018).</small>

It is expected that the financial situation regarding outgoing purchases and taxation etc. for the finance year 2019
will remain similar.

### 4. Auditors

The board has internally audited purchases and incoming transactions and due
to the low amount of outgoing purchases (one, 1), an external auditor has not
been deemed necessary.

### 5. Discharging the board

The board was not discharged (with 7 votes against discharging the board).

### 6. Member fees

The attending members unanimously decided that 10.00 EUR (€) per person per year shall be the
member fee that all members will pay.

Notably there was discussion regarding alternative payment methods and the fees taken by PayPal. Per Pretorian PayPal
would take approximately 0.89 EUR fee from a member fee deposit. For the full discussion see the full meeting
transcript.

### 7. Eventual plan

The organization’s plan is deferred to sections 9 "Treatment of motions and items" and 3 "Board Information".

The outgoing purchases are expected to remain similar, so around 300€ was estimated for the server and 10€ for the
domain cost (see also section 3).

### 8. Election of Board and Stand-in board

Pretorian, Crise, and cologic were nominated and elected to the board. Newly nominated and elected for the board this
year were Kcchouette and Dexo. Additionally, poy was nominated and elected to the stand-in board. Delion was nominated
for the stand-in board but as per their wishes was not elected.

See the full meeting transcript for additional discussion regarding EU requirements imposed on the organization's board.

### 9. Treatment of motions and items

The items mentioned in section 2 of this document are treated and discussed here.

#### 9.1 Review of last year's items and the organization's management of them



#### 9.2 Changing bylaws

Due to the organization moving from the municipality of Sollentuna to Hässleholm a change in the bylaws is legally
required to reflect this. This change, noted below, was voted and agreed to in the annual meeting of 2019 but a second
vote is required to make it final. 

* Original phrasing: The organization is located in Sollentuna, Sweden.
* New effective phrasing: The organization is located in Hässleholm, Sweden.

The attending members unanimously voted again to accept the pending change thus bringing it into immediate effect and
prompting a change in the bylaws published on the organization website.

#### 9.3 ALPN implementation status


#### 9.4 Updating some software in use by the DCNF (e.g. phpbb to discourse)


#### 9.5 The fate of additional scheduled meetings (quarterly or otherwise)


#### 9.6 The organization's hub certificate


#### 9.7 Setting up a forge for current projects


#### 9.8 Getting the word out


#### 9.9 Protocol spec hosting, and optionally hosting of other projects


#### 9.10  Dedicated emails for organization business


### 10. Additional items


<!-- pagebreak -->

### 11. Items for the next meeting

From this annual meeting the following items remain on the agenda for the next meeting in {{ meeting_date | date('Y') }}.

...

{% if meeting_adjuster != false %}The next meeting is scheduled for *{{next_meeting}}*.{% endif %} All future currently
scheduled organization meetings can be seen [here](https://www.dcbase.org/meetings/). Please refer to the  website for
any late changes in meeting schedule.

The annual meeting for the next year will be scheduled and announced in Decemeber this year.

<!-- pagebreak -->

### Appendix A: Board Meeting

The board convened publically after the annual meeting concluded to decide upon individual responsibilities of elected
board members. Pretorian was elected the Chairman and Treasurer of the organization and Crise as the Secretary.

There was discussion regarding who has, and who can or should have, access to certain assets held or controlled by DCNF
and how members of the organization, or in some cases the board, may go about requesting such access. See the published
board meeting transcript for the particulars of this discussion.

</div>
</div>
