{%- import '@template/macros.twig' as util -%}

<div class="jumbotron" markdown="1">
Monthly organization meeting protocol
----------------------
*August, 2016*

Meeting occurred *2016-08-07* (19:00 CET), written by *Crise*
</div>

<div class="alert alert-info hidden-print" role="alert">
<i class="fa fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### Contents

{{ util.toc() }}

<!-- pagebreak -->

#### Preface

This document is intended to be accompanied by the full meeting minutes
that should have been provided alongside the document itself. The aim of
this document is to be as much of an objective summary of the contents
of the meeting as possible.

This document pertains to one of the monthly scheduled meetings for 2016
as agreed upon by voting in annual organization meeting in January of
the same year. The timestamps on the accompanying meeting minutes are
normally accurate to the time zone of the meeting's assigned secretary.

These meetings are more informal in nature and as such do not follow the
same rigorous process as the annual meetings. For the sake of simplicity
a chairman and secretary shall be named at the start of each meeting and
for this month Pretorian acted as the chairman and Crise acted as the
secretary for the meeting.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

#### Members in attendance

- Pretorian / Fredrik Ullner (chairman)
- Crise (secretary)
- poy

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

#### List of items for the meeting

A list of items to address from the previous meeting:

- Update Gitlab repo via cron job (Crise)
- Write HTTPS article. (cologic/klondike)
- Suggested projects list/Code of Conduct (Pretorian)
- E-mail to EFF/GNU about license for the website (Pretorian)
- Donators list (Pretorian)
- Donators automation (Crise/poy)
- Site documentation (Crise)

#### GitLab repository updating

The cron job discussed in previous meetings as a temporary solution to issues
with GitLab.com webhooks was set up by Crise during the meeting. Currently
changes are being pulled every 15 minutes. Webhooks are setup such that if they
do start working changes should be pulled upon push.

GitLab.com has been made aware of the problem, however, so far it has been two
months without change. The issue seems to be recurring issue affecting seemingly
random projects, where the activity feed breaks and thus anything depending on
it breaks as well. This does not directly affect the use of the repository, 
just the frequency and way in which changes must be deployed from GitLab to the
site.

#### Write HTTPS article

Unfortunately no progress since last month and as such will remain as a recurring
item for the next monthly meeting.

#### Suggested projects list/Code of Conduct

Pretorian provided the following draft for the affiliate projects document on
the hub prior to the meetings start and asked for comments. Some discussion
about technical setup in relation to the website took place, however, no concrete
suggestions as to the contents of the drafts per se.

 - [Affiliate Projects Draft](https://www.dcbase.org/files/meetings/2016-08-07/affiliate_projects_draft.txt)

#### E-mail to EFF/GNU about website license

This has not been done yet, however, it was noted that nothing is technically
being held up by this. Crise also reiterated a previous point about a possible
change to parts of the licensing, as it is currently set up in the repository.

The potential changes outlined by Crise were as follows. Put any files, ie. most
Twig template files, that contain derivative work based on the original
Bootstrap example directly under CC-BY 3.0 and treat these files wholly as
program input. In which case the licensing and the required exception remains
more simplistic.

The key question is whether considering Twig templates wholly as program input
is possible or not. Aditional concerns may be raised about the difference between
the template file, the document structure and the page copy, that is
non-placeholder content, included within. For example can a different license
be attached to the text contained in page based on a design licensed under CC-BY
or not.

#### Donators list

The list is done, waitting to be published. The appropriate place to publish it
on the website was briefly discussed. Current proposed format for the list is
either a pseudonym or first name and the first letter of last name and the amount
donated. So for example something like "Fredrik U. - 5 €"

Additionally a suggestion was made for creating separate page on the site for
instructions on how to join or donate to the organization. This would have the
advantage of allowing specifc instructions to be easily provided to everyone
joining or donating, such as how to noftify the organization if one wishes to
remain completely anonymous.

Currently the donate button on the main page points directly to PayPal, and the
join button to forums.

#### Donators list automation

This has not been looked into. It was pointed out that considering the current
level of donations automating the maintenance of these lists would be overkill.

However, this remains as an item to look into at some point, but as per
discussion there is no need to keep checking on the status of this in  following 
meetings. To put it simply, if someone where to build it the organization may
make use of it.

#### Site documentation

Work on this was recently started and is ongoing. Request for feedback on the
provided draft was made. Crise asked for feedback by the end of the following
week, if possible.

 - [Documentation Draft](https://www.dcbase.org/docs_draft)

#### Additional items

There were no additional items brought up during this meeting.

<!-- pagebreak -->

#### Items for the next monthly meeting

Before the meeting was closed the following items were set on the
agenda for the next monthly meeting.

1. Write HTTPS article. (cologic/klondike)
2. Finalize suggested-projects list/Code of Conduct (Pretorian)
3. E-mail to EFF/GNU about license for the website (Pretorian)
4. Finalize donators list (Pretorian)
5. Site documentation (Crise, everyone else feedback)
6. Move ADC/NMDC project websites (as affiliated projects) to DCNF (Pretorian)

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next monthly meeting is scheduled for *September 4<sup>th</sup>, 2016
19:00 CET*. All future currently scheduled organization meetings can be
seen [here](https://www.dcbase.org/meetings/). Please refer to the
website for any late changes in meeting schedule.

</div>
</div>
