/* Space out content a bit */
body {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Unstyled links */
a.link-unstyled,
a.link-unstyled:link,
a.link-unstyled:hover {
	color: inherit;
	text-decoration: inherit;
}

/* Inline code */
code {
	background-color: transparent;
}

/* Ensure navigation links remain constant */
.nav-pills li > .nav-link,
a.back-link {
	padding: 0.5rem 1rem !important;
	border: none !important;
}

.nav-pills li:not(.show) > .nav-link:not(.active),
.nav-pills li:not(.show) > .nav-link:hover:not(.active) {
	background-image: none !important;
}

/* Blockquote */
blockquote.blockquote {
	font-size: 1rem;
	border-left: 0.25rem solid #e9ecef;
	padding-left: 0.5rem;
}

/* Table of Contents */
.toc.unstyled ol,
.toc.unstyled ul {
	list-style: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

/* Custom page header */
.header {
	border-bottom: .05rem solid #e5e5e5;
	margin-bottom: 0.75rem;
}

/* Make the masthead heading the same height as the navigation */
.header h4 {
	padding-bottom: .5rem;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2.5rem;
}

.header .tagline {
	color: #31708f !important;
}

.header .logo-s50 {
	display: inline-block !important;
	width: 50px;
	height: 50px;

	font: inherit;
	font-size: 1.2rem;

	background-image: url("../img/logo/dcnf-small.png");
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

@media screen {
	body.bs-dark .header {
		border-color: rgba(0,0,0,0.6);
	}

	body.bs-dark .header .logo-s50 {
		background-image: url("../img/logo/dcnf-dark-small.png") !important;
	}
}

/* Custom page footer */
.footer {
	margin-top: 1.25rem;
	padding-top: 1rem;
	color: #777;
	border-top: .05rem solid #e5e5e5;
}

@media screen {
	body.bs-dark .footer {
		border-color: rgba(0,0,0,0.6);
	}
}

/* Cookie consent bar */
.cookie-consent {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	overflow: auto;
	line-height: 2;
	padding: .25rem;
}

/* Customize container */
@media (min-width: 29em) {
	.container.full {
		max-width:calc(100% - 5rem);
	}
}

@media (min-width: 62em) {
	.container {
		max-width: 56.25rem;
	}
	.container.wide {
		max-width: 60rem;
	}
}

@media (min-width: 75em) {
	.container.wide {
		max-width: 71.25rem;
	}
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
	padding: .7rem 1.2rem;
	font-size: 1.5rem;
}

.jumbotron p {
	font-size: 1.1rem;
}

/* Supporting marketing content */
.marketing > div[class^="col-"] {
     padding-bottom: .5rem;
     padding-top: .5rem;
}

.marketing > div[class^="col-"] h3:first-child,
.marketing > div[class^="col-"] h4:first-child {
     margin-top: 0;
}

.marketing p + h3,
.marketing p + h4,
.marketing p + div.footnotes,
.marketing p + div.paging-fix,
.marketing ul + h3,
.marketing ul + h4,
.marketing ul + div.alert,
.marketing ul + div.footnotes,
.marketing ul + div.paging-fix,
.marketing ol + h3,
.marketing ol + h4,
.marketing ol + div.alert,
.marketing ol + div.footnotes,
.marketing ol + div.paging-fix,
.marketing dl + h3,
.marketing dl + h4,
.marketing dl + div.alert,
.marketing dl + div.footnotes,
.marketing dl + div.paging-fix,
.marketing div.alert + h3,
.marketing div.alert + h4,
.marketing div.alert + div.footnotes,
.marketing div.alert + div.paging-fix,
.marketing div.pagebreak + h3,
.marketing div.pagebreak + h4,
.marketing div.pagebreak + div.alert,
.marketing div.pagebreak + div.paging-fix,
.marketing div.paging-fix + h3,
.marketing div.paging-fix + h4,
.marketing div.paging-fix + div.alert,
.marketing div.paging-fix + div.paging-fix,
.marketing div.toc + h3,
.marketing div.toc + h4,
.marketing div.toc + div.alert,
.marketing div.toc + div.paging-fix {
	margin-top: 1.4rem;
}

/* Alerts within text */
.marketing p + div.alert,
.marketing div.alert + p {
	margin-top: 1rem;
}

/* This is for markdown code blocks */
.marketing p + pre,
.marketing ul + pre,
.marketing ol + pre,
.marketing h3 + pre,
.marketing h4 + pre,
.marketing pre + p,
.marketing pre + ul,
.marketing pre + ol,
.marketing pre + h3,
.marketing pre + h4 {
	margin-top: 1rem;
}

/* For definition lists */
.marketing dd + dt {
	margin-top: .5rem;
}

.marketing div.footnotes > hr {
	margin-top: 0;
	margin-bottom: .5rem;
}

.marketing table thead th:empty {
	display: none !important;
}

/* For source view */
.source-container {
	overflow: auto;
}

.source-container pre {
	overflow: visible;
	background-color: #f8f8f8;
}

.source-container a {
	color: #007bff !important;
}

.source-container a:hover {
	color: #0056b3 !important;
	text-decoration: underline !important;
}

.source-container code {
	overflow: visible;
	white-space: pre; 
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}

.source-container.wordwrap code {
	white-space: pre-wrap !important;
}

/* For embedded PDF view */
.pdf-container {
	background-color: #f5f5f5;
	border: .05rem solid #e3e3e3;
	border-radius: .2rem;
	padding-bottom: 150%;
}

.pdf-container embed {
	min-width: 100%;
	min-height: 100%;
}

.content .pagebreak,
.container .print-spacer-header,
.container .print-spacer-footer,
.container-fluid .print-spacer-header,
.container-fluid .print-spacer-footer {
	display: none;
}

/* Responsive: Desktop and up */
@media screen and (min-width: 62em) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 1.5rem;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

@media print {
	/* Firefox can't print flexboxes spanning multiple pages: https://bugzilla.mozilla.org/show_bug.cgi?id=939897 */
	@supports (-moz-appearance:none) {
		.container .content .row,
		.container-fluid .content .row {
			display: block !important;
		}
	}
}
