/* Override boostrap link print content in menu and for buttons */
a[href].btn:after,
.header a[href]:after {
	content: none;
}

/* Eperiment with fancier printing - Welcome back to 90's */
html, body {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	counter-reset: page;
}

/* Page breaks */
h2, .h2
h3, .h3,
h4, .h4 {
	page-break-after: avoid;
}

p,
h2, .h2,
h3, .h3,
h4, .h4 {
	orphans: 3;
	widows: 3;
}

/* Paging control */
div.pagebreak {
	display: block !important;
	width: 100%;
	page-break-after: always !important;
}

div.paging-fix {
	page-break-inside: avoid;
}

/* Header and Footer */
.header {
	height: 20mm !important;
	position: fixed;
	top: 5mm;
	left: 0;
	right: 0;
}

.header .logo-s50 {
	-webkit-print-color-adjust: exact !important;
	-webkit-color-adjust: exact !important;
	color-adjust: exact !important;
	background-image: url("../img/logo/dcnf-print.png") !important;
}

@supports (not (color-adjust: exact)) and (not (-webkit-color-adjust: exact)) and (not (-webkit-print-color-adjust: exact)) {
	.header .logo-s50 {
		height: 0;
	}

	.header .logo-s50:before {
		content: url("../img/logo/dcnf-print.png") !important;
		position: absolute;
	}
}

.header .print-pubdate {
	margin-top: 5mm;
	margin-right: 5mm;
}

.footer {
	height: 20mm !important;
	position: fixed;
	bottom: 5mm;
	left: 0;
	right: 0;
}

.footer p:before {
	content: "\00a0";
	position: absolute;
}

.footer .print-pages > span:before {
	counter-increment: page;
	content: counter(page);
	margin-right: 5mm;
}

/* General page elements */
.container,
.container-fluid {
	width:100% !important;
}

.btn {
	-webkit-print-color-adjust: exact !important;
	-webkit-color-adjust: exact !important;
	color-adjust: exact !important;
}

.marketing p,
.marketing dd {
	text-align: justify;
}

/* Print headers and footer spacing */
.container .content,
.container-fluid .content {
	display: table !important;
	vertical-align: middle;
}

.container #page-content,
.container-fluid #page-content {
	display: table-row-group !important;
}

.container .print-spacer-footer,
.container-fluid .print-spacer-footer {
	display: table-footer-group !important;
	vertical-align: middle;
}

.container .print-spacer-header,
.container-fluid .print-spacer-header {
	display: table-header-group !important;
	vertical-align: middle;
}

.container .print-spacer-header > div,
.container .print-spacer-footer > div,
.container-fluid .print-spacer-header > div,
.container-fluid .print-spacer-footer > div {
	display: table-row !important;
	vertical-align: inherit;
}

.container .print-spacer-header > div > div,
.container .print-spacer-footer > div > div,
.container-fluid .print-spacer-header > div > div,
.container-fluid .print-spacer-footer > div > div {
	display: table-cell !important;
	vertical-align: inherit;
	height: 25mm !important;
}

/* Counters do not presently work using this setup, the pages are counted but the counter displays same value or no value on all pr some pages */
.footer .print-pages {
	display: none !important;
}

@page { size: auto; margin: 0 10mm 0 15mm !important; }
