{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'By-laws' %}
{% set git_info = git_info('markdown/bylaws/2020.md', false) %}		{# For this page get git information only about the by-laws themself and suppress author information #}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## By-laws

			These are the current by-laws, effective as of February 2020, of the Direct Connect Network Foundation.

			All previous versions of the bylaws are available [here]({{ make_url('/markdown/bylaws/') }}) by year.
			{% endmarkdown %}

			</div>
		</div>

		<div class="pagebreak"> </div>

		<div class="row marketing">
			<div class="col-lg-12">
				{% markdown 'markdown/bylaws/2020.md' %}

			</div>
		</div>
{% endblock %}
