{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'Contribute' %}
{% set git_info = git_info([_self, 'markdown/donators.md']) %}

{# this doesn't actually fetch the info twice, because it is already cached by above call... just gives access to it #}
{% set donators_info = git_info('markdown/donators.md') %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## Contribute to Direct Connect

			The Direct Connect Network Foundation rely on its developers and users to enhance the network and its capabilities. It is always preferred to have people improve the network, although a simple donation is of course appreciated. Here is a list of ways people can contribute to the network.
			{% endmarkdown %}

			</div>
		</div>

		<div class="row marketing">

			{# pay special attention to the intedention here in relation to the markdownextra block tags #}
			{% markdownextra %}
			<div class="col-lg-6" markdown="1">
			#### Software development

			All software in DC rely on developers to contribute code. Some software projects have directly active members and some projects rely more on submitted patches from contributors. At times, because all projects are basically volunteer work, people sometimes move from active members to contributors and back (and vice versa). All projects desire more developers. All projects can be seen at Wikipedia [here]({{ make_url('en.wikipedia.org/wiki/Direct_Connect_(protocol)') }}) and [here]({{ make_url('en.wikipedia.org/wiki/Comparison_of_ADC_software') }}), for NMDC and ADC respectively.

			#### Individual projects

			Some projects do not yet exist but may be an excellent way for new people to get acquainted with software development for DC. On the left is a list of suggested projects that people can work on. Lots of more items are also at [Launchpad]({{ make_url('bugs.launchpad.net/dcbase') }}).

			#### Translation support

			DC is international, meaning that people from all over the world use it (either daily or less frequently). Most people therefore like to use their own language. Most DC software allow you to select a different language within the software, so you (or someone you downloaded the software to) can use it without any problems. This requires the input from users to provide the necessary translation support.

			#### Question and Answer support

			Most users at some point encounter problems with their software. It is up to the developers to ensure that the amount of problems are minimized (and their severity). In the mean time, it is important to be able to have a good support section (questions and answers) to be able to help the common user.

			</div>
			<div class="col-lg-6">

			<div class="card mb-3">
			<div class="card-body" markdown="1">
			#### Parsers for the DC protocols

			DC use two protocols, [ADC]({{ make_url('en.wikipedia.org/wiki/Advanced_Direct_Connect') }}) and [NMDC]({{ make_url('en.wikipedia.org/wiki/Direct_Connect_(protocol)') }}). These protocols are in clear-text so it is possible to simply monitor the network traffic and read the information. However, it would be good to have a way of seeing what the information is without requiring to know the protocols by heart. The [developer plugin]({{ make_url('sourceforge.net/projects/dcplusplus/files/Plugins/DevPlugin/') }}) allow you to view the information in a client, and the somewhat started [ADC dissector for Wireshark]({{ make_url('launchpad.net/adcwireshark') }}).

			</div>
			</div>

			<div class="card mb-3">
			<div class="card-body" markdown="1">
			#### DC for Mobile

			It would be great if there were applications for mobile phones that allowed users to connect to and use DC. the most common platforms are for Android, iOS and Windows Mobile.

			</div>
			</div>

			<div class="card mb-3">
			<div class="card-body" markdown="1">
			#### DC for Web

			If a person does not have a phone or computer that allowed them to download an application, it would be great to have a web site or service that allowed users to connect to their choice of hub, basically acting as a proxy. There could be a web server that can communicate with the DC network as well as a supporting web site where users can sign in and connect to a server of their choice.

			</div>
			</div>

			</div>
			{% endmarkdownextra %}

		</div>
		<div class="row marketing">
			<div class="col-lg-12">

			{% markdownextra 'markdown/donators.md' %}

			<small>This list is current as of {{ donators_info.date | date('Y-m-d') }}.</small>

			</div>
		</div>
{% endblock %}
