{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'FAQ' %}
{% set git_info = git_info(['markdown/faq.md.twig', _self]) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## Frequently Asked Questions

			These are Frequently Asked Questions about the Direct Connect Network and the DCNF.
			{% endmarkdown %}

			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">
				{{ util.toc() }}

				{% markdown 'markdown/faq.md.twig' %}

			</div>
		</div>
{% endblock %}
