{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'Home' %}
{% set git_info = git_info(_self) %}

{% block content -%}
			<!-- <div class="alert alert-success alert-dismissable fade show d-print-none" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fas fa-info-circle fa-lg" title="Info:"></i> <strong>Announcing the annual organization meeting for 2018</strong>, held on 2018-01-07 at 19:00 CET.
			</div> -->

			<!-- <div class="alert alert-warning alert-dismissable fade show d-print-none" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fas fa-info-circle fa-lg" title="Info:"></i> Forum registrations have been disabled for the time being. If you want or need an account one can be created for you if requested through the organization <a href="adcs://hub.dcbase.org:16591">DC hub</a>.
			</div> -->

			<div class="jumbotron">
				<div class="lead">

					{% markdown %}
					## Direct Connect Network Foundation

					The Direct Connect Network Foundation (DCNF) is a non-profit organization that aims to improve the DC network by improving software, protocols and other services in the network. The organization intends to increase the knowledge of the network for other current non-users as well as improving the state of it for current users.

					You can help with either donating (Paypal, see below) to the organization directly or be [improving the DC network]({{ make_url('/contribute/') }}). You may also wish to become a member. This can be done by following the actions stated in this [forum thread]({{ make_url('forum.dcbase.org/viewtopic.php?f=96&t=1014') }}). Members can vote in meetings and will also be able to request DC services and projects (to come). Each month the project will announce the financial situation (what has been the income and what has been bought). Note that none of the board members receive money, everything goes directly to the organization's ventures.
					{% endmarkdown %}

				</div>

				<div>
					<a href="{{ make_url('forum.dcbase.org/viewtopic.php?f=96&t=1014') }}" class="btn btn-lg btn-success"><i class="fas fa-users fa-lg"></i> Join us</a>

					<form style="display: inline-block" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="HKQAH67GW7GJJ">
						<button class="btn btn-lg btn-primary" type="submit" name="submit"><i class="fab fa-paypal fa-lg" title="PayPal"></i> Donate</button>
					</form>
				</div>
			</div>

			{% markdownextra %}
			<div class="row marketing col-lg-12">
				<div class="col-lg-6" markdown="1">

				#### <i class="fas fa-users fa-lg text-muted"></i> Organization

				We are a registered non-profit organization in Sweden, with the registered government number 802492-9716. The by-laws can be found [here]({{ make_url('/bylaws/') }}) and our meeting notes and schedule [here]({{ make_url('/meetings/') }}).

				</div>
				<div class="col-lg-6" markdown="1">

				#### <i class="fas fa-hand-holding-heart fa-lg text-muted"></i> Donations

				Donated money will go to paying for the infrastructure (domains, servers) and more. PayPal donation/member fee e-mail address is dcnf [at] dcbase.org.

				</div>
			</div>
			<div class="row marketing col-lg-12">
				<div class="col-lg-6" markdown="1">

				#### <i class="fas fa-comments fa-lg text-muted"></i> Discussion

				See the [forum]({{ make_url('forum.dcbase.org/viewforum.php?f=96') }}) if you wish to participate in discussion or have any queries.

				</div>
				<div class="col-lg-6" markdown="1">

				#### <i class="fas fa-atlas fa-lg text-muted"></i> Website

				The website is currently under construction, so stop by the [DC hub](adcs://hub.dcbase.org:16591) or the forum for more information.

				</div>
			</div>
			{% endmarkdownextra %}

{% endblock %}
