{# metadata: { "page_subtitle": "Privacy" } #}

{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

{{ util.toc() }}

### Powered by Open Source {{ '{#open_source}' }}

This website is powered by a collection of open source software, including but not limited to the following (in no
particular order).

- [Git](https://git-scm.com/) - Free and open source distributed version control system.
- [PHP](https://php.net/) - Popular general-purpose scripting language that is especially suited to web development.
- [Twig](https://twig.symfony.com/) - Flexible, fast, and secure template engine for PHP.
- [Parsedown](https://parsedown.org/) - Better Markdown Parser in PHP.
- [phpBB](https://www.phpbb.com/) - Free flat-forum bulletin board software solution written using PHP.
- [jQuery](https://jquery.com/) - The Write Less, Do More, JavaScript Library.
- [Bootstrap](https://getbootstrap.com/) - Sleek, intuitive and powerful mobile first front-end framework for the web.
- [Bootswatch](https://bootswatch.com/) - Free themes for Bootstrap.
- [Twemoji](https://twemoji.twitter.com/) - Freely available open source set of emoji by Twitter Inc. and others.
- [Font Awesome (Free)](https://fontawesome.com) - The iconic SVG, font, and CSS toolkit.

Additionally, to bring all this together, the site is using a custom middleware layer written in PHP, creatively named
DCBase, which is also open source and publicly available. For more information on this please head to the 
[documentation]({{ make_url('/docs/') }}). We do this because transparency is very important for us and the Direct
Connect Network Foundation was born around an Open Source community.

While the above middleware layer will probably never be released as a separate software package, or supported beyond the
needs of this organization and its affiliated projects, if you do find it useful we'd certainly like to
[hear about it](https://forum.dcbase.org/).

### Privacy Information {{ '{#privacy}' }}

This page is not a formal Privacy Policy. The goal of this page is simply to tell our visitors what kind of data we
collect and retain about them and how that data is and is not used. It also lists details about the software in use
on this site for those curious.

#### Personal information and information disclosure

The organization stores the registering name (real or pseudonym) of members or donators, their e-mail address and the
date at which their membership payment or donation was made. DCNF operates in Sweden (and therefore in the European
Union), which have strict laws with respect to how and what personal data may be stored. The Swedish law
“Personuppgiftslagen” (Person data law) and the EU directive “Data Protection Directive” (implemented in Sweden as
Dataskyddsdirektivet) describes rights for individuals and their privacy, and basically dictates that organizations
cannot store personal data unless specific purposes require the organization to do so. To decrease the possibility that
the organization is in breach of this directive, DCNF has decided to not store any such information. See more
information at [Data Protection Directive](https://en.wikipedia.org/wiki/Data_Protection_Directive) and
[Datainspektionen](https://www.datainspektionen.se/lagar-och-regler/personuppgiftslagen/).

The organization does not generally provide member or donator information, although membership information may be
provided per request for a reason, such as legal requirement. When making a request for information disclosure state the
exact reason and who you represent.

Information requests, including requests for information removal, should be directed to the organization's current board
via email at dcnf (at) dcbase.org. Requests are processed manually by the board and may take up to 30 days or until the
next scheduled organization meeting to be processed, unless there are legal grounds for faster resolution in which case
the board will process the request at their earliest convenience within the constraints set by the applicable law.

#### Publicly available information

The organization will make available the full list of names or pseudonyms of current board members, including
supplementary board, on this site along the total member count of the organization.

Additionally the organization may at times publish a list of recent donators or contributors on this site, however,
when making such lists great care will be taken to not disclose any personally identifiable information as part of those
lists.

In the event that a donator wishes to remain completely anonymous (including their pseudonym, if any) and not be part of
any such lists. They may include instructions to that effect as a message accompanying their donation.

### Cookies {{ '{#cookies}' }}

Cookies are small amounts of data, containing an anonymous unique identifier for your computer. This website may use
cookies to customise the user experience or as part of its user authentication scheme.

If your browser is "cookie enabled", this site can store cookies on your computer, but only the cookies stored by
this website can be accessed by it, on your return. This is for your protection.

You can browse the unauthenticated portions of this site without cookies enabled. However, should you require
authentication cookies must be enabled. Some functionality may be limited or unavailable if you have cookies disabled
in your browser.

For more information on cookies please visit [www.aboutcookies.org](http://www.aboutcookies.org).

</div>
</div>
