{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'More' %}										{# This is set to match the top level menu item name #}
{% set git_info = git_info(['markdown/resources.md.twig', _self]) %}

{% block title %}{{ util.default_title(content_owner, 'Resources') }}{% endblock %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## Documents and resources

			Documents related to the Direct Connect network.
			{% endmarkdown %}

			</div>
		</div>

		{# Normalized URL's would be fantastic, so we wouldn't have to do this weird escape pass (see macros.twig) #}
		{# Be vary of Twig comments in markdown blocks, they can be used, just not on the first line, and they can't be directly followed by a newline #}
		<div class="row marketing">
			<div class="col-lg-12">
				{% markdownextra 'markdown/resources.md.twig' %}

			</div>
		</div>
{% endblock %}
