{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### 2015-01-08 - Annual meeting

- [Protocol meeting]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20150108.pdf') }})
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20150108 Notes.txt') }})
- [Board meeting]({{ util.sanitize_url('/files/meetings/old/DCNF - Board meeting 20150108.pdf') }})
- [Board notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Board meeting 20150108 Notes.txt') }})

#### 2016-01-10 - Annual meeting

- [Protocol meeting]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160110.pdf') }})
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160110 Notes.txt') }})
- [Board notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Board meeting 20160110 Notes.txt') }})

#### 2016-02-07 - Monthly meeting

- [Protocol meeting]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160207.pdf') }})
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160207 Notes.txt') }})

#### 2016-03-06 - Monthly meeting

- [Protocol meeting]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160306.pdf') }})
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160306 Notes.txt') }})

#### 2016-04-10 - Monthly meeting (originally scheduled for the 3rd)

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160410 Notes.txt') }})

#### 2016-05-01 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ util.sanitize_url('/files/meetings/old/DCNF - Protocol meeting 20160501 Notes.txt') }})

#### 2016-06-05 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-06-05/meeting_chat.log') }})

#### 2016-07-03 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-07-03/meeting_chat.log') }})

#### 2016-08-07 - Monthly meeting

- [Protocol meeting]({{ make_url('/files/meetings/2016-08-07/meeting_notes.md') }})
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-08-07/meeting_chat.log') }})

#### 2016-09-04 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-09-04/meeting_chat.log') }})

#### 2016-10-02 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-10-02/meeting_chat.log') }})

#### 2016-11-06 - Monthly meeting

- Cancelled, due to low attendance.

#### 2016-12-04 - Monthly meeting

- [Protocol meeting]({{ make_url('/files/meetings/2016-12-04/meeting_notes.md') }})
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2016-12-04/meeting_chat.log') }})

</div>
</div>
