{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### 2017-01-08 - Annual meeting

- [Protocol meeting]({{ make_url('/files/meetings/2017-01-08/meeting_notes.md') }})
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-01-08/meeting_chat.log') }})
- [Board notes (actual chat)]({{ make_url('/files/meetings/2017-01-08/board_chat.log') }})

#### 2017-02-05 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-02-05/meeting_chat.log') }})

#### 2017-03-05 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-03-05/meeting_chat.log') }})

#### 2017-04-02 - Monthly meeting

- Cancelled due to low attendance (DST changes).

#### 2017-05-14 - Monthly meeting (originally scheduled for the 7th)

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-05-14/meeting_chat.log') }})

#### 2017-06-11 - Monthly meeting (originally scheduled for the 4th)

- Cancelled due to low attendance and scheduling issues (Summer).

#### 2017-07-02 - Monthly meeting

- Cancelled due to low attendance

#### 2017-08-06 - Monthly meeting

- Cancelled due to low attendance

#### 2017-09-03 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-09-03/meeting_chat.log') }})

#### 2017-10-01 - Monthly meeting

- No meeting held

#### 2017-11-05 - Monthly meeting

- No meeting held

#### 2017-12-03 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2017-12-03/meeting_chat.log') }})

</div>
</div>
