{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### 2018-01-07 - Annual meeting

{# - [Protocol meeting]({{ make_url('/files/meetings/2018-01-07/meeting_notes.md') }}) #}
- Protocol meeting (TBD)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2018-01-07/annual_chat.log') }})
- [Board notes (actual chat)]({{ make_url('/files/meetings/2018-01-07/board_chat.log') }})

#### 2018-01-07 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2018-01-07/meeting_chat.log') }})

#### 2018-02-11 - Monthly meeting

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2018-02-11/meeting_chat.log') }})

#### 2018-03-04 - Monthly meeting

- Cancelled, due to absences

#### 2018-04-01 - Monthly meeting

- Cancelled, due to absences

#### 2018-05-06 - Monthly meeting

- Cancelled, due to absences

#### 2018-06-03 - Monthly meeting

- Cancelled, due to absences

#### 2018-07-08 - Monthly meeting (rescheduled)

- Protocol meeting (not published)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2018-07-08/meeting_chat.log') }})

#### 2018-08-05 - Monthly meeting

- Scheduled for 19:00 CET

#### 2018-09-02 - Monthly meeting

- Scheduled for 19:00 CET

#### 2018-10-07 - Monthly meeting

- Scheduled for 19:00 CET

#### 2018-11-04 - Monthly meeting

- Scheduled for 19:00 CET

#### 2018-12-02 - Monthly meeting

- Scheduled for 19:00 CET

</div>
</div>
