{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### 2019-02-10 - Annual meeting

{# - [Protocol meeting]({{ make_url('/files/meetings/2019-02-10/meeting_notes.md') }}) #}
- Protocol meeting (TBD)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/2019-02-10/annual_chat.log') }})
- [Board notes (actual chat)]({{ make_url('/files/meetings/2019-02-10/board_chat.log') }})

</div>
</div>
