{%- import '@template/macros.twig' as util -%}

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### 2020-02-09 - Annual meeting (SCHEDULED)

{# - [Protocol meeting]({{ make_url('/files/meetings/TBD/meeting_notes.md') }}) #}
- Protocol meeting (TBD)
- [Protocol notes (actual chat)]({{ make_url('/files/meetings/TBD/annual_chat.log') }})
- [Board notes (actual chat)]({{ make_url('/files/meetings/TBD/board_chat.log') }})

</div>
</div>
