{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'More' %}										{# This is set to match the top level menu item name #}
{% set git_info = git_info(['markdown/meetings.md.twig', _self]) %}

{% block title %}{{ util.default_title(content_owner, 'Meetings') }}{% endblock %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## Organization Meetings

			These are the meetings that have been held for the organization. Currently less formal meetings are being held once every month usually on the first Sunday of the month (provided it is not a calendar holiday). In addition to these monthly meetings the organization is required to convene annually in a more official setting. All organization meetings are open to everyone who wishes to attend, however, any formal votes especially in the annual meeting are restricted to the members of the organization.
			{% endmarkdown %}

			</div>
		</div>

		{# Normalized URL's would be fantastic, so we wouldn't have to do this weird escape pass (see macros.twig) #}
		{% markdownextra 'meetings/2020.md.twig' %}
		{% markdownextra 'meetings/2019.md.twig' %}

		<div class="row marketing">
			<div class="col-lg-12">
				<hr>
				<strong>Previous years meetings:</strong> <a href="{{ make_url('/meetings/2015-2016/') }}">2015-2016</a> <a href="{{ make_url('/meetings/2017/') }}">2017</a> <a href="{{ make_url('/meetings/2018/') }}">2018</a>

				<div class="d-none d-print-none d-md-block">
					<hr>
					<div class="card bg-light">
						<div class="card-body">
							<h4>DCNF Meetings - {{ 'now' | date('F Y') }} <small class="text-muted float-right">Times are shown in CET</small></h4>
							<iframe src="{{ make_url('calendar.google.com/calendar/embed', 'showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&bgcolor=%23f5f5f5&src=directconnectnetworkfoundation%40gmail.com&ctz=Europe/Stockholm') }}" style="border: 0; width: 100%; height: 600px"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
