{# using the file extension .md.twig allows twig functions and macros to be used #}
{%- import '@template/macros.twig' as util -%}

{# set some variables #}
{%- set meeting_date = 'January 1st, 1970 00:00 GMT' -%}
{%- set next_meeting = 'January 2nd, 1970 00:00 GMT' -%}
{%- set meeting_chairman = 'Chairman' -%}
{%- set meeting_secretary = 'Secretary' -%}

<div class="jumbotron" markdown="1">
Monthly organization meeting protocol
----------------------
*{{ meeting_date | date('F, Y') }}*

Meeting occurred *{{ meeting_date }}*, written by *{{ meeting_secretary }}*
</div>

<div class="alert alert-info d-print-none" role="alert">
<i class="fas fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### Contents

{{ util.toc() }}

<!-- pagebreak -->

#### Preface

This document is intended to be accompanied by the full meeting minutes
that should have been provided alongside the document itself. The aim of
this document is to be as much of an objective summary of the contents
of the meeting as possible.

This document pertains to one of the monthly scheduled meetings for 
{{ meeting_date | date('Y') }} as agreed upon by voting in annual
organization meeting in January of the same year. The timestamps on
the accompanying meeting minutes are normally accurate to the time
zone of the meeting's assigned secretary.

These meetings are more informal in nature and as such do not follow the
same rigorous process as the annual meetings. For the sake of simplicity
a chairman and secretary shall be named at the start of each meeting and
for this month {{ meeting_chairman }} acted as the chairman and
{{ meeting_secretary }} acted as the secretary for the meeting.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

#### Members in attendance

- {{ meeting_chairman }} (chairman)
- {{ meeting_secretary }} (secretary)
- ...

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

#### List of items for the meeting

A list of items to address from the previous meeting:

- Item 1
- Item 2
- Item 3
- Item 4

#### Item 1

Notes for item 1 in meeting go here.

#### Item 2

Notes for item 2 in meeting go here.

#### Item 3

Notes for item 3 in meeting go here.

#### Item 4

Notes for item 4 in meeting go here.

#### Additional items

The additional items discussed during this meeting were ...

<!-- pagebreak -->

#### Items for the next monthly meeting

Before the meeting was closed the following items were set on the
agenda for the next monthly meeting.

1. item 1
2. item 2
3. item 3
4. item 4

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next monthly meeting is scheduled for *{{next_meeting}}*. All
future currently scheduled organization meetings can be seen
[here](https://www.dcbase.org/meetings/). Please refer to the 
website for any late changes in meeting schedule.

</div>
</div>
