{# using the file extension .md.twig allows twig functions and macros to be used #}
{%- import '@template/macros.twig' as util -%}

{# meeting dates #}
{%- set meeting_date = 'January 1st, 1970 00:00 GMT' -%}
{%- set next_meeting = 'January 2nd, 1970 00:00 GMT' -%}

{# meeeting positions #}
{%- set meeting_supervisor = 'Supervisor' -%}
{%- set meeting_secretary = 'Secretary' -%}
{%- set meeting_adjuster = 'Adjuster' -%}
{%- set meeting_counter = 'VoteCounter' -%}

{# Note the difference in headers to monthly meeting template #}
<div class="jumbotron" markdown="1">
Annual organization meeting protocol
----------------------
*{{ meeting_date | date('F, Y') }}*

Meeting occurred *{{ meeting_date }}.*  
Protocol document written by *{{ meeting_secretary }}* and
adjusted by *{{ meeting_adjuster }}*
</div>

<div class="alert alert-info d-print-none" role="alert">
<i class="fas fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

### Contents {.toc-heading}

{{ util.toc('unstyled', 'h3:not(.toc-heading),h4,h5') }}

<!-- pagebreak -->

### Preface

This document is intended to be accompanied by the full meeting minutes
that should have been provided alongside the document itself. The aim of
this document is to be as much of an objective summary of the contents
of the meeting as possible.

This document pertains to the organization's annual meeting for the year
of {{ meeting_date | date('Y') }}. The timestamps on the accompanying
meeting minutes are normally accurate to the time zone of the meeting's
assigned secretary.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

### Members in attendance

- {{ meeting_supervisor }} (supervisor)
- {{ meeting_secretary }} (secretary)
- ...

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

### 1. Opening of Meeting

[Announce interim supervisor and acceptance of bylaws]

#### 1.2 Choice of meeting supervisor and secretary

{{ meeting_supervisor }} was elected as the meeting supervisor and {{ meeting_secretary }} as the meeting
secretary.

#### 1.3 Voting length

Voting length was set to (2) minutes

#### 1.4 Choice of meeting vote counter and meeting protocol adjuster

{{ meeting_counter }} was elected as the meeting vote counter and {{ meeting_adjuster }} as the protocol
adjuster.

#### 1.5 Fair announcement

All attending members agreed that the meeting was announced correctly.

<!-- pagebreak -->

### 2. Meeting items

{{ meeting_supervisor }} called for meeting item suggestions and the following items were
brought up.

1. Scheduling of recurring meetings and timetables
2. Review of last year's items and the organization's management of them

### 3. Board Information

The organization's activities are deferred to the meeting item "Review of last
year's items and the organization's management of them".

...

Therefore the financial status of the organization is as follows:

| Item                      | Amount EUR (€)  | {.table.table-striped}
| :------------------------ | --------------: |
| Donations and member fees |           +0.00 |
| Server costs              |           -0.00 |
| Taxes*                    |            0.00 |

<small>*) The information received from the Swedish taxation service about
outstanding items for submission for 2016.</small>

### 4. Auditors

The board has internally audited purchases and incoming transactions and due
to the low amount of outgoing purchases (one, 1), an external auditor has not
been deemed necessary.

### 5. Discharging the board

The board was not discharged.

### 6. Member fees

The members decided that 10.00 EUR (€) per person per year shall be the member
fee that all members will pay.

### 7. Eventual plan

The organization’s plan is deferred to the meeting item “Review of last year’s items 
and the organization’s management of them”.

### 8. Election of Board and Stand-in board

[Announce elected board and stand-in board]

### 9. Treatment of motions and items

The items mentioned in section 2 of this document are treated and discussed here.

#### 9.1 Scheduling of recurring meetings and timetables

Notes on discussion

#### 9.2 Review of last year's items and the organization's management of them

Notes on discussion

{# this is definition list syntax (Markdown Extra) #}
Item 1
:  Notes on item 1.

Item 2
:  Notes on item 2.

Item 3
:  Notes on item 3.

Item 4
:  Notes on item 4.

Item 5
:  Notes on item 5.

### 10. Additional items

The additional items discussed during the meeting were...

<!-- pagebreak -->

### 11. Items for the first monthly meeting of the year

From this annual meeting the following items remain on the agenda for the first
monthly meeting of {{ meeting_date | date('Y') }}.

1. Item 1
2. Item 2
3. Item 3
4. Item 4
5. Item 5

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next monthly meeting is scheduled for *{{next_meeting}}*. All
future currently scheduled organization meetings can be seen
[here](https://www.dcbase.org/meetings/). Please refer to the 
website for any late changes in meeting schedule.

The annual meeting for the next year will be scheduled at the monthly meeting
of Decemeber this year.

<!-- pagebreak -->

### Appendix A: Board Meeting

[Notes on the following board meeting]

</div>
</div>
