{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'Documentation' %}
{% set git_info = git_info(['docs/git_repository.md', 'docs/directories.md', 'docs/content.md', 'docs/twig_environment.md', 'docs/twig_textformat.md', 'docs/appendix_code.md',_self]) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{# this shouldn't be markdown because the date below is not dependent on this file alone (alternatively nocache hint could be used) #}
			<h2>DCBase Documentation</h2>

			{% if git_info %}<p>Last updated on <strong>{{ git_info.date | date('Y-m-d') }}</strong></p>{% endif %}

			</div>
		</div>

		<div class="alert alert-info d-print-none" role="alert">
			<i class="fas fa-info-circle fa-lg" title="Info:"></i> This document is paged for printing, however, at this time for best results using non-webkit based browsers is advised.
		</div>

		<div class="pagebreak"> </div>

		<div class="row marketing">
			<div class="col-lg-12">
				<h3 class="toc-heading">Contents</h3>

				{{ util.toc('unstyled', 'h3:not(.toc-heading),h4,h5') }}

				<div class="pagebreak"> </div>

				{% markdownextra 'docs/intro.md' %}

				<div class="pagebreak"> </div>

				{% markdownextra 'docs/git_repository.md' %}

				<div class="pagebreak"> </div>

				{% markdownextra 'docs/directories.md' %}

				<div class="pagebreak"> </div>

				{% markdownextra 'docs/content.md' %}

				<div class="pagebreak"> </div>

				{% markdownextra 'docs/twig_environment.md' %}

				<div class="pagebreak"></div>

				{% markdownextra 'docs/twig_textformat.md' %}

				<div class="pagebreak"></div>

				{% markdownextra 'docs/appendix_code.md' %}

			</div>
		</div>
{% endblock %}
