{# using the file extension .md.twig allows twig functions and macros to be used #}
{%- import '@template/macros.twig' as util -%}

{# set some variables #}
{%- set meeting_date = 'January 8th, 2017 19:00 CET' -%}
{%- set next_meeting = 'February 5th, 2017 19:00 CET' -%}

{# meeeting positions #}
{%- set meeting_supervisor = 'Pretorian' -%}
{%- set meeting_secretary = 'Crise' -%}
{%- set meeting_adjuster = 'Pretorian' -%}
{%- set meeting_counter = 'cologic' -%}

{# Note the difference in headers to monthly meeting template #}
<div class="jumbotron" markdown="1">
Annual organization meeting protocol
----------------------
*{{ meeting_date | date('F, Y') }}*

Meeting occurred *{{ meeting_date }}.*  
Protocol document written by *{{ meeting_secretary }}* and
adjusted by *{{ meeting_adjuster }}*
</div>

<div class="alert alert-info hidden-print" role="alert">
<i class="fa fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

### Contents {.toc-heading}

{{ util.toc('unstyled', 'h3:not(.toc-heading),h4,h5') }}

<!-- pagebreak -->

### Preface

This document is intended to be accompanied by the full meeting minutes
that should have been provided alongside the document itself. The aim of
this document is to be as much of an objective summary of the contents
of the meeting as possible.

This document pertains to the organization's annual meeting for the year
of {{ meeting_date | date('Y') }}. The timestamps on the accompanying
meeting minutes are normally accurate to the time zone of the meeting's
assigned secretary.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

### Members in attendance

- {{ meeting_supervisor }} (supervisor)
- {{ meeting_secretary }} (secretary)
- cologic

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

### 1. Opening of Meeting

Pretorian opened the meeting as interim meeting supervisor and attending
members announced their presence. All attending members accepted the by-laws.

#### 1.2 Choice of meeting supervisor and secretary

{{ meeting_supervisor }} was elected as the meeting supervisor and {{ meeting_secretary }} as the meeting
secretary.

#### 1.3 Voting length

Voting length was set to (2) minutes

#### 1.4 Choice of meeting vote counter and meeting protocol adjuster

{{ meeting_counter }} was elected as the meeting vote counter and {{ meeting_adjuster }} as the protocol
adjuster.

#### 1.5 Fair announcement

All attending members agreed that the meeting was announced correctly.

<!-- pagebreak -->

### 2. Meeting items

{{meeting_supervisor }} called for meeting item suggestions and the following items were
brought up.

1. Scheduling of recurring meetings and timetables
2. Review of last year's items and the organization's management of them

### 3. Board Information

The organization's activities are deferred to the meeting item "Review of last
year's items and the organization's management of them".

Pretorian reported the accounting and economic state of the organization. The
organization has received monetary donations and membership fees through
PayPal and as of 2017-01-08 17:46 (CET) the account balance was 222.86 EUR (€).

The only purchase made was the upkeep cost for the server used for the websites
hosted by the organization and some of its other services. The purchase was for
299.85 EUR (€). The cost of the domain name of the organization is considered
a donation, exact value was not stated during the meeting.

Therefore the financial status of the organization is as follows:

| Item                      | Amount EUR (€)  | {.table.table-striped}
| :------------------------ | --------------: |
| Donations and member fees |         +522.71 |
| Server costs              |         -299.85 |
| Taxes*                    |            0.00 |

<small>*) The information received from the Swedish taxation service about
outstanding items for submission for 2016.</small>

### 4. Auditors

The board has internally audited purchases and incoming transactions and due
to the low amount of outgoing purchases (one, 1), an external auditor has not
been deemed necessary.

### 5. Discharging the board

The board was not discharged.

### 6. Member fees

The members decided that 10.00 EUR (€) per person per year shall be the member
fee that all members will pay.

### 7. Eventual plan

The organization’s plan is deferred to the meeting item “Review of last year’s items 
and the organization’s management of them”.

### 8. Election of Board and Stand-in board

Pretorian, Crise, and cologic were nominated and elected to the board. poy and
iceman50 were nominated and elected to the stand-in board.

The absent memebers shall be contacted and their acceptance of the positions
confirmed after the meeting.

### 9. Treatment of motions and items

The items mentioned in section 2 of this document are treated and discussed here.

#### 9.1 Scheduling of recurring meetings and timetables

General consensus through open discussion was that the monthly meetings had
fulfilled their purpose. It was agreed on to continue with monthly meetings and
the first Sunday of every month at 19:00 CET was agreed as the timeslot with
possibility to reschedule as needed.

To more consistent need for announcing monthly meetings was brought up and there
were no objections.

There was no formal vote on either matter.

#### 9.2 Review of last year's items and the organization's management of them

Because of the monthly meetings during 2016 it was decided, through open
discussion, that covering only the outstanding items from the previous monthly
meeting (2016-12-04) is all that was needed.

{# this is definition list syntax (Markdown Extra) #}
Update donators list with dates
:  This has been done, the list was also updated with recent submissions prior
to the meeting. Discussion about the need to colour code, split, or collapse
the list by year to manage it long term was discussed. There will be no follow
up on this in the next monthly meeting.

Migrate ASCIIDocs to Markdown
: The state of this is the same as in previous monthly meeting. The proposed
method for migration is from ASCIIDoc to DocBook to Markdown. Final decision
can only be made once the results of the initial automatic conversion can be
seen on site. Potential alternatives to Markdown, if needed, are Textile and
reStructuredText. This remains on the agenda for the next monthly meeting.

Automatic certificate management
: This has been done, the cron job is set to run monthly, and there should be
no outstanding issues.

Update DCNF web pages for affiliated projects
: The infrastructure for this exists. Content migration is the only thing left
to do. This remains on the agenda for the next monthly meeting.

Review NMDC URI scheme
: After discussion it was decided that the scheme document is currently ready
for (re)submission to the IETF mailing list, followed by submission to the actual
queue if there are no outstanding comments from the mailing list submission.

Propose inclusion of affiliated projects
: Crise suggested setting up an information resource about DC related projects
taking over the role that is currently filled solely by Wikipedia and several
older FAQ resources. This was proposed as an affiliate project to allow easier
management of third party access to contribute content. This remains on the
agenda for the next monthly meeting.

### 10. Additional items

There was no additional items discussed during this meeting.

<!-- pagebreak -->

### 11. Items for the first monthly meeting of the year

From this annual meeting the following items remain on the agenda for the first
monthly meeting of {{ meeting_date | date('Y') }}.

1. Migrate ASCIIDocs to Markdown (Pretorian)
2. Update DCNF web pages for affiliated projects (Pretorian, Crise)
3. Propose inclusion of affiliated projects (poy)
4. Setting up new affiliate project for information on DC projects (Crise)

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next monthly meeting is scheduled for *{{next_meeting}}*. All
future currently scheduled organization meetings can be seen
[here](https://www.dcbase.org/meetings/). Please refer to the 
website for any late changes in meeting schedule.

The annual meeting for the next year will be scheduled at the monthly meeting
of Decemeber this year.

<!-- pagebreak -->

### Appendix A: Board Meeting

The board convened publically after the annual meeting concluded to decide upon
individual responsibilities of elected board members. Pretorian was elected the
Chairman and Treasurer of the organization and Crise as the Secretary.

There were no further items discussed during the board meeting.

</div>
</div>
