{#
*
* @package dcbase
* @copyright (c) 2019 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
* 		Information about this file (don't copy this list into actual pages)
*
*	1. This file can be used as a template for creating new pages.
*	2. Files saved with the extension .html.twig are served as processed html.
*	3. Other files are served as is, provided the extension is mapped in MimeTypes.php under /config/
*	4. If the Request URI contains an html extension, those will always expand to .html.twig during lookup.
*	5. If the Request URI does not contain a file name, lookup is performed with the name index appended.
*	6. Consider removing all blocks that only call parent() in the final page
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = '[one_word_title]' %}					{# if you want this to affect the active selection on the menu, make sure it matches one of the menu items from bootstrap_base #}
{% set git_info = git_info(_self) %}							{# this should really take ['@template/bootstrap_base.html.twig', _self] to be 100% accurate, but we don't need that #}
{% set hide_menu = false %}										{# superfluous if false, hides the top level menu if true #}

{# Low level theme variables, changing these is useful for larger degree of customization, but if done incorrectly things will break! (defaults depicted below)

{% set theme = load_json('@template/theme.json') %}				theme : this variable is an array of properties that contains things like the versions of different dependecies in use etc.
{% set content_owner = 'Direct Connect Network Foundation' %}	content_owner : this is the sites top level name or title (also appears as copyright)
{% set menu_file = 'site_menu.json' %}							menu_file : the json configuration file used to build the sites menu (relative to content root by default)
{% set source_view = true %}									source_view : setting this to false hides the "view source" link from the footer (used in error pages and document wrappers)

#}

{% block head -%}
	{{ parent() }}
{% endblock %}

{% block meta -%}
	{{ parent() }}
{% endblock %}

{% block styles -%}
	{{ parent() }}
{% endblock %}

{% block scripts -%}
	{{ parent() }}
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}		{# parent() expands to "content_owner • page_subtitle" #}

{% block header -%}
		{{ parent() }}
{% endblock %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">
				<h2>[lead title]</h2>
				<p>[lead copy here]</p>
			</div>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">
				<h4>[title]</h2>
				<p>[page copy here]</p>
			</div>
		</div>
{% endblock %}
