{%- import '@template/macros.twig' as util -%}

<div class="jumbotron" markdown="1">
Monthly organization meeting protocol
----------------------
*December, 2016*

Meeting occurred *2016-12-04* (19:00 CET), written by *Crise*
</div>

<div class="alert alert-info hidden-print" role="alert">
<i class="fa fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

#### Contents

{{ util.toc() }}

<!-- pagebreak -->

#### Preface

This document is intended to be accompanied by the full meeting minutes
that should have been provided alongside the document itself. The aim of
this document is to be as much of an objective summary of the contents
of the meeting as possible.

This document pertains to one of the monthly scheduled meetings for 2016
as agreed upon by voting in annual organization meeting in January of
the same year. The timestamps on the accompanying meeting minutes are
normally accurate to the time zone of the meeting's assigned secretary.

These meetings are more informal in nature and as such do not follow the
same rigorous process as the annual meetings. For the sake of simplicity
a chairman and secretary shall be named at the start of each meeting and
for this month Pretorian acted as the chairman and Crise acted as the
secretary for the meeting.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

#### Members in attendance

- Pretorian / Fredrik Ullner (chairman)
- Crise (secretary)
- poy
- cologic

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

#### List of items for the meeting

A list of items to address from the previous meeting:

- Write additional HTTPS article (cologic)
- E-mail to EFF/GNU about license for the website (Pretorian)
- Finalize donators list (Pretorian)
- Migrate ASCIIDocs to Markdown (Pretorian)
- Challenge-response of webpages (cologic)
- Prepare DCNF web pages for affiliated projects (Crise)
- Review NMDC URI scheme (Pretorian, cologic, Crise, poy)
- Propose inclusion of affiliated projects (poy)

#### Write additional HTTPS article

This has now been done. The need for additional short articles in the same vein
on this and other topics was briefly covered but for the time being there were
no additional requests for articles.

- [Why DCNF uses HTTPS via Let’s Encrypt](https://dcpp.wordpress.com/2016/10/07/why-dcnf-uses-https-via-lets-encrypt/)

#### E-mail to EFF/GNU about license for the website

This is currently in progress, Pretorian has written a draft and it has
subsequently been read by Crise, who had already given his comments on it.
Hopefully this email will get an actual useful response.

#### Finalize donators list

This has been done, it is part of the Contribute page on the main website, needs
to be updated at some point. Brief discussion about adding dates and listing
multiple donations from the same individual or entity took place. This was added
to the agenda for the next meeting.

#### Migrate ASCIIDocs to Markdown

Preliminary research on this had been done. The most likely path to produce good
results at this time seems to be a conversion from ASCIIDoc -> DocBook -> Markdown.

Crise mentioned specifically that the technical reason behind wanting to move away
from ASCIIDoc mostly has to do with the difficulty to produce document fragments,
ie. incomplete documents, by the existing ASCIIDoc parser as well as its heavy
integration with the themes that ship with it or are made for it. Thus making the
produced documents ill-suited for embedding to on to the website.

reStructuredText was mentioned as a potential alternative to Markdown in the event
that the complexity of the documents or lack of necessary Markdown features proves
problematic. At least one suitable parser for reStructuredText is known to exist.

#### Challenge-response of webpages

This has mostly been addressed and all the required challenge responses seem to
now be correctly served.

However, the certificates are currently not renewing automatically. The
importance of addressing this before the holidays was brought up in the event
that the current certificates happen to expire during the holiday season.

#### Prepare DCNF web pages for affiliated projects

The technical setup for the current affiliate projects has been done and stub
pages exists in the adc-web and nmdc-web repositories under dcnf group on
GitLab.com. Any changes to these repositories sync automatically to
[adc.dcbase.org](https://adc.dcbase.org/) and [nmdc.dcbase.org](https://nmdc.dcbase.org/)
respectively.

This is achieved by making affiliate project repositories submodules of the main
dcbase.org respository on GitLab.com. The setup currently does not require the
submodules in the main repository to actually be in sync with the content of
affiliate project repositories (ie. the results of submodule update do not need
to be commited to the parent repository). Notably a clone of the main dcbase.org
repository should not be used to work on the affiliate project repositories.

#### Review NMDC URI scheme

There was brief open discussion on this. Pretorian will make another pass on
scheme document. This remains on the agenda for next meeting and request for
further review was made specifically in the context of the current feedback on
the IETF mailing list. So that it is possible to send another revision out for
them to review.

#### Propose inclusion of affiliated projects

This was not covered during this meeting, and as such moves onto the agenda for
the next meeting.

#### Additional items

There was one additional meeting discussed during this meeting and that was
scheduling of the next meeting on January. As the usual 1st Sunday of the month
also happens to be January 1st, the second Sunday was suggested and agreed on.

The next monthly meeting which is also the organizations official annual meeting
for the year 2017 will as such take place at the usual time on the 8th of January
2017.

Pretorian asked attending members to reserve extra time for this meeting because
as the annual meeting it will follow a more official and longer structure due to
the additional processes involved in an annual meeting.

Crise took the opportunity to informally apologize about the lack of consistency
in producing these meeting protocol documents for these monthly meetings.

As was then discussed the protocol documents are indeed required for annual
meetings as they may be requested by authorities, however, the need to publish
them for these more informal monthly meetings is more open to interpretation on 
case by case basis.

<!-- pagebreak -->

#### Items for the next monthly meeting

Before the meeting was closed the following items were set on the
agenda for the next monthly meeting. This meeting, as noted in the
previous section will also double as the organization's more official
annual meeting for the year of 2017.

1. Update donators list with dates (Pretorian)
2. Migrate ASCIIDocs to Markdown (Pretorian)
3. Automatic certificate management (cologic)
4. Update DCNF web pages for affiliated projects (Pretorian, Crise)
5. Review NMDC URI scheme (Pretorian, cologic, Crise, poy)
6. Propose inclusion of affiliated projects (poy)
7. Review of the success of the monthly organization meetings (All)

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next monthly meeting is scheduled for *January 8<sup>th</sup>, 2017
19:00 CET*. All future currently scheduled organization meetings can be
seen [here](https://www.dcbase.org/meetings/). Please refer to the
website for any late changes in meeting schedule.

</div>
</div>
