{# using the file extension .md.twig allows twig functions and macros to be used #}
{%- import '@template/macros.twig' as util -%}

{# meeting dates #}
{%- set meeting_date = 'February 10th, 2019 19:00 CET' -%}
{%- set next_meeting = 'April 7th, 2019 19:00 CET' -%}

{# meeeting positions #}
{%- set meeting_supervisor = 'Pretorian' -%}
{%- set meeting_secretary = 'Crise' -%}
{%- set meeting_adjuster = 'Sulan' -%}
{%- set meeting_counter = 'cologic' -%}

{# Note the difference in headers to monthly meeting template #}
<div class="jumbotron" markdown="1">
Annual organization meeting protocol
----------------------
*{{ meeting_date | date('F, Y') }}*

Meeting occurred *{{ meeting_date }}.*  
Protocol document written by *{{ meeting_secretary }}* {% if meeting_adjuster %}and
adjusted by *{{ meeting_adjuster }}*{% else %}**pending protocol adjustment**{% endif %}
</div>

<div class="alert alert-info d-print-none" role="alert">
<i class="fas fa-info-circle fa-lg" title="Info:"></i> 
This document is paged for printing, however, at this time for
best results using non-webkit based browsers is advised.
</div>

<!-- pagebreak -->

<div class="row marketing">
<div class="col-lg-12" markdown="1">

### Contents {.toc-heading}

{{ util.toc('unstyled', 'h3:not(.toc-heading),h4,h5') }}

<!-- pagebreak -->

### Preface

This document is intended to be accompanied by the full (verbatim transcript)
meeting minutes that should have been provided alongside the document itself.
The aim of this document is to be as much of an objective summary of the
contents of the meeting as possible.

This document pertains to the organization's annual meeting for the year
of {{ meeting_date | date('Y') }}. The timestamps on the accompanying
meeting minutes are normally accurate to the time zone of the meeting's
assigned secretary.

**Distribution:** dcnf (at) dcbase.org, [website](https://www.dcbase.org/meetings/),
[forums](https://forum.dcbase.org/)

<!-- pagebreak -->

### Members in attendance

- {{ meeting_supervisor }} (supervisor)
- {{ meeting_secretary }} (secretary)
- cologic
- poy
- Delion
- Sulan
- Dexo

The above list is based on a call for names at the start of the meeting
and as such it may not be exhaustive.

<!-- pagebreak -->

### 1. Opening of Meeting

Pretorian opened the meeting as interim meeting supervisor and attending members announced their presence. All attending members accepted the by-laws.
Three people were present during the annual meeting as members with the intent to join the organization within 1 week of the annual meeting, for their
votes to count as valid, as invited to attend by Pretorian.

#### 1.2 Choice of meeting supervisor and secretary

{{ meeting_supervisor }} was elected as the meeting supervisor and {{ meeting_secretary }} as the meeting
secretary.

#### 1.3 Voting length

Voting length was set to (2) minutes

#### 1.4 Choice of meeting vote counter and meeting protocol adjuster

{{ meeting_counter }} was elected as the meeting vote counter and
{% if meeting_adjuster != meeting_counter %}{{ meeting_adjuster }}{% endif %} as the meeting protocol adjuster.

#### 1.5 Fair announcement

All (7) attending members agreed that the meeting was announced correctly.

<!-- pagebreak -->

### 2. Meeting items

{{ meeting_supervisor }} called for meeting item suggestions and the following items were
brought up or previously submitted.

1. Review of last year's items and the organization's management of them
2. Changing bylaws
3. Protocol specification updates
4. Scheduled monthly organization meetings
5. Upgrade of organization's server
6. Google for Nonprofits
7. Enabling TLS by default clientside for ADC hubs
8. Website updates and Forum registrations disabled
9. ALPN proposal
10. Setting up kallithea for current projects
11. Getting the word out and so other projects join us! List projects we should invite.
12. The formal description for the proposal process

### 3. Board Information

The organization's activities are deferred to the meeting item "Review of last
year's items and the organization's management of them".

Pretorian reported the accounting and economic state of the organization. The organization has received monetary donations and membership fees through
PayPal and as of 2019-02-10 16:04 (CET), the current balance was 214.41 EUR (€).

There has been one outgoing purchase, and that was of the dedicated web server the organization uses. The purcahse was for 326.76 EUR (€). The domain's
cost should be included as a separate purchase. However, according to Pretorian's own account he could not find the balance change in the organizations
finances, so he concluded that evidently he must have paid it from his personal account (noting that this was fine by him). The exact value of the domain
name was not stated. However, this should hopefully change over the next (2019) period.

The total amount the organization has accumulated over this previous year was therefore 214.41 + 326.76 = 541.17 EUR (€). See also the balance from last
year in the annual meeting for 2018).

Therefore the financial status of the organization is as follows:

| Item                         | Amount EUR (€)             | {.table.table-striped}
| :--------------------------- | -------------------------: |
| Donations and member fees*   |                    +541.17 |
| Server costs                 |                    -326.76 |
| Taxes**                      |                       0.00 |

<small>*) Including purchases.</small>
<small>**) The information received from the Swedish taxation service: no
outstanding items for submission for 2018 (finance year 2017).</small>

### 4. Auditors

The board has internally audited purchases and incoming transactions and due
to the low amount of outgoing purchases (one, 1), an external auditor has not
been deemed necessary.

### 5. Discharging the board

The board was not discharged (with 6 votes against discharging the board and 1 abstain).

### 6. Member fees

The attending members unanimously decided that 10.00 EUR (€) per person per year shall be the
member fee that all members will pay.

### 7. Eventual plan

The organization’s plan is deferred to sections 9 "Treatment of motions and items" and 3 "Board Information".

The outgoing purchases are expected to remain similar, so 326€ was estimated for the server and 10€ for the
domain cost (see section 3).

### 8. Election of Board and Stand-in board

Pretorian, Crise, and cologic were nominated and elected to the board. poy was nominated and elected to the stand-in board.

### 9. Treatment of motions and items

The items mentioned in section 2 of this document are treated and discussed here. Note that the discussion order of items 5 and 6 was flipped during
the meeting the ordering in this section corresponds to the order of discussion.

#### 9.1 Review of last year's items and the organization's management of them

Because the organization held, to the best of its ability, additional meetings last year there isn't anything in particular that was disccused here.

Additionally, the following items were deemed to addreess the open items from last year.

#### 9.2 Changing bylaws

Due to the organization moving from the municipality of Sollentuna to Hässleholm a change in the bylaws is required to reflect this.

* Current phrasing: The organization is located in Sollentuna, Sweden.
* Proposed phrasing: The organization is located in Hässleholm, Sweden.

The attending members unanimously voted to accept the proposed change. As the nature of the change was seen as pure formality at this time it was not
deemed necessary to to finalize the change through an additonal formal meeting. As such the next annual meeting will ratify and bring this change
into effect.

#### 9.3 Protocol specification updates

Below is the original topic submission

{% autoescape false %}
>
>ADC protocol specification and associated documents, collectively herein referred as "specification", (https://adc.sourceforge.io/) needs to be updated
>or the migration to dcbase.org needs to be finalized ASAP, because:
>* Both the landing page and the old (yet still the authoritative as far as I know) documents refer places that no longer exists or have been relocated
>  (e.g. wiki and SF svn repository).
>* Judging from recent discussion on the public hub there seems to be a distinct lack of known formal protocol or process for working on the ADC
>  specification (specifically extension proposals, from the point of view of an outsider)
>* Informal: I went through the markdown files currently on adc.dcbase.org and I need someone to check for consistency with the last official copies,
>  after that the release PRD file needs to be updated and some dead references need to be fixed at least (mostly in the "preface" sections of the
>  document, my current changes aimed to be markup related for now)
>* Informal: the issue with git commits not reflecting immediately/correctly on subdomains (e.g. adc.dcbase.org, nmdc.dcbase.org and hublist.dcbase.org)
>  should now be fixed.
>
{% endautoescape %}

This is an item from the previous year that has been on the table for some time. The intent was to finalize the process and to that effect reviews of the current
work in progress were requested. Additonally, discussion about remaining steps took place. There were no formal votes on this matter. Discussion about the
specification update process was also brought up by Pretorian and the similarity of this to item 9.9 was noted.

Pretorian agreed to prepare a proposal for processes for the next [quarterly] meeting as well as to review the documents and make necessary changes to reference
the up to date and appropriate resources (e.g. git vs svn etc.). Notably regarding these process proposals it was brought up that there should be a clear path
to define not only extensions to existing protocols, but a more high-level changes, along with a place to host those.

The need to use a system capable of versioning proposals was hilighted. It was noted that while the DCNF forums lack versioning, this was the place originally intended
for discussion on proposals, replacing the old Wiki, and that versioning could happen elsewere. Discussion about using personal git forks as part of the process took
place and was met with positivity. 

#### 9.4 Scheduled monthly organization meetings

Below is the original topic submission

{% autoescape false %}
>
>Informal organization meetings: I still believe that in general the idea of having a time slot reserved once a month is a good practice, however, experience has taught
>me that this doesn't seem to work.
>* If there is no visible progress people understandably don't feel like showing up, which means meetings get skipped (this in and of itself isn't a problem, if people
>  knew when there is a meeting and when there isn't)
>* Again a point based on some recent comments on the hub: how to raise points for discussion and what are appropriate topics in organization meetings (both formal and
>  informal) seems to be unclear.
>* Proposal: create a well defined process for submitting discussion items for monthly meetings (assuming we keep up with them) if none are submitted during the previous
>  month then the current months meeting will effectively be cancelled. Additionally, I would suggest that if/when a meeting is cancelled due to no submitted discussion
>  items any member of the board who is available could simply post a canned message about there being no meeting for this reason on the hub (the cancellation should
>  happen e.g. 24 hours prior, if we stick to weekends when at least one person is likely to be online during that 48 hour period).
>  * I am well aware that this is effectively turning what was originally intended as a completely informal process to keep people engaged with the organization into a
>    more formal one with more structure. However, at this point I believe it might be necessary and it would also avoid stating that there has been no progress if it
>    isn't needed.
>  * Submission of discussion points could be through email, or alternatively the fate of the next months meeting could be decided at the end of the previous one (i.e.
>    if nothing is likely to change over the next month then we can schedule accordingly), with the exception that items may still be submitted through email later if
>    needed.
>
{% endautoescape %}

Pretorian brought up that it might be beneficial to in fact have meetings less often, such as quarterly, which was eventually the suggestion that was voted on here together
with a process for submitting discussion points as per the original proposal above. It was also noted that it is important to distinquish between the formal annual meetings
required by law/bylaws, the more formal additional scheduled meetings (i.e. quarterly) and just general chat that can happen at any time.

The vote for meetings ended with +5 votes (including Pretorian) on 4 quarterly meetings with some conditions. Notably that the first quarterly meeting would also be the
organization's formal annual meeting (normally held in January). The months proposed for the other three meetings at this time were April, July, October. The implicit
conditions of no meetings on calender holidays etc. can also be assumed to apply (in which case rescheduling is a possibility).

#### 9.5 Google for Nonprofits

Below is the original topic submission

{% autoescape false %}
>
>This is from last year's monthly meetings: I brought up the possibility of signing the organization up for  Google for Nonprofits
> * Unfortunately my attempts to register for it is stopped by the need to "get validated" by TechSoup Sverige.
>   While I could probably get through the form on my own, I haven't used Swedish in any capacity since 09, and even then my skills could be considered elementary at best,
>   so I really can't check any of the fine print or deal with any direct email correspondence if that is involved.
> * The motivation for this is generally to get access to G-Suite for Nonprofits to have real @dcbase.org emails without the overhead of maintaining and securing (against
>   spam) a mail server, but here are all the benefits anyway.
>    * Currently the organization mails getting forwarded to personal emails is inconvenient at best and a privacy concern in the worst case scenario (e.g. if someone
>      decides to leave the organization they should also loose access to historical record of the emails, specifically e.g. donations from paypal).
>
{% endautoescape %}

Pretorian announced that he had begun the process to sign up at TechSoup Sverige, as of February 10th, noting that a signature and last meeting protocol document (this one)
would be needed is neeeded. After this discussion about privacy concerns related to Google as a service provider ensued. poy noted being veary about giving any unnecessary
data to "organizations whose money comes in large part from exploiting user data", noting that he would not consider the emails, if moved, to be "private".

cologic noted that while he is not strongly objecting to this, he is aligned with poy on the matter. The concerns were noted, and generally seen as valid.

Crise clarified his motivation for a solution, to the issue of using forwards to personal emails, that did not involve either additional material or maintenance costs.
Later noting that under the current setup his personal email was already a gmail account so anything forwarded from the organization currently effectively ended on Google
servers anyway.

cologic's second concern was what recourse might be available if Google decides to shut down the DCNF account. According to him they have: "no support to speak of that would
likely address/reverse such an action." Although adding that he didn't think that this was critical for DCNF so long as no existentially important accounts run solely through
it.

poy also noted that there was certain risk of the Google for Nonprofits program being shut down, as occasionally happens with Google initiatives, citing e.g. Google reader amd
Google code projects.

Pretorian proposed voting on at least setting up the groundwork for Google for Nonprofits (e.g. TechSoup and signing up but not changing the emails over yet, which could be
decided later). poy was tasked with looking into alternative service providers in the meantime and the final vote was on laying groundwork of G-suite and doing this but with
a different provider if it exists. This got a majority of 5 votes, deferring potential follow through or use of alternative service provider to the next meeting pending poy's
findings.

#### 9.6 Upgrade of organization's server

Crise brought an informal topic about upgrading the organization's webserver to the latest LTS version of ubuntu. This sparked discussion about migrating to a proper server
installation of ubuntu or changing the server OS to CentOS. Both of which require additional co-ordination with OVH as the service provider for the web server to minimize
downtime. For futher details refer to meeting minutes. Crise was tasked with perparing a backup and opening a ticket with OVH on the matter on rebuilding or switching
distributions.

#### 9.7 Enabling TLS by default clientside for ADC hubs

Delion brought this topic regarding the default behaviour of clients in the network. Pretorian noted that it is not clear what the organization can "do" here, except ask
any developer to do so. (e.g. poy, in his role as a client developer outside his capacity as a member of DCNF). Some additional discussion took place, for further details
see the meeting minutes. This discussion was eventually deferred to continue outside of the annual meeting.

#### 9.8 Website updates and Forum registrations disabled

Crise brought a second informal topic to get it on the official record (email sent to board in Q3 of 2018) about the registrations on the organization forum being disabled
due to spam. He also noted some other mundane tasks having been completed on the website. Namely upgrading aforementioned forums and the dcpp forum archive to the latest
version of phpBB and the website template to Bootstrap version 4.

Brief discussion took place on the steps to re-enable forum registration. It was agreed, without a formal vote, that the registrations would be enabled for a test period
of 24 hours to see the results after the forum upgrades. Discourse or in general other venues (e.g. changing platforms) were brought up in the event that the issues presist.

#### 9.9 ALPN proposal

Dexo brought this topic and requested comments on the proposal for additional details and discussion see meeting minutes. This for brevity and the preserve accuracy due to
the technical nature of the topic.

#### 9.10 Setting up kallithea for current projects

Brought by poy, to keep it on the docket as TBD (To be done). Additionally, noted that he was currently waiting for
[an open issue on GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/31600), specifically for mercurial support.

Prior discussions were referenced and cited (see meeting minutes).

#### 9.11 Getting the word out

Another TBD item from poy, to keep in the mind for the coming year, considering the original purpose of the organization.

#### 9.12 The formal description for the proposal process

There was no additional discussion on this item, see item 9.3. for related discussion and next actions.

### 10. Additional items

There were no additional items discussed. The date for the first quarterly meeting was tentatively set for {{next_meeting}}
to be announced on the website.

<!-- pagebreak -->

### 11. Items for the first quarterly meeting of the year

From this annual meeting the following items remain on the agenda for the first
quarterly meeting of {{ meeting_date | date('Y') }}.

1. Protocol specification updates (Pretorian, Crise)
2. Google for Nonprofits: follow through or alternative provider (poy, Pretorian)
3. Organization's server: next steps, backup (Crise)
4. Forum registrations: results, next steps (Crise)

This list is not final and any additional items may be submitted to
the organizations email address in advance of the next scheduled
meeting.

The next quaterly meeting is scheduled for *{{next_meeting}}*. All
future currently scheduled organization meetings can be seen
[here](https://www.dcbase.org/meetings/). Please refer to the 
website for any late changes in meeting schedule.

The annual meeting for the next year will be scheduled and announced
in Decemeber this year.

<!-- pagebreak -->

### Appendix A: Board Meeting

The board convened publically after the annual meeting concluded to decide upon individual responsibilities of elected
board members. Pretorian was elected the Chairman and Treasurer of the organization and Crise as the Secretary.

There were no further items discussed during the board meeting. Verbatim transcript of the board meeting is available on
the organization's website along with this document and the annual meeting minutes

</div>
</div>
