#### What is Direct Connect (DC)?

DC is a peer-to-peer chat- and file sharing Internet network where users can have discussions and exchange files with each other. Users (clients) connect to a central location (hub) where they can chat with each other and exchange files (with downloading, uploading and search capabilities). An introduction video to DC is available at [Youtube]({{ make_url('www.youtube.com/watch?v=JEZQhyPpmFQ') }}).

#### Who uses DC?

DC is split up in two areas, public and private hubs (servers) where users can meet. The public hubs feature predominatly European and North American people although there are users from other parts of the world. Private hubs are more difficult to gather statistics from, but likely the same groups as before and including other origins (based on download statistics) such as India and Australia.

#### Who are developing DC?

There are roughly 20 people on three continents that continuously have been developing DC. Most are developers to some degree.

#### What is the Direct Connect Network Foundation (DCNF)?

DCNF is a non-profit organization based in Sollentuna, Sweden, that intend to improve and expand the network by pooling resources and manpower.

#### Why is a non-profit organization required?

A non-profit organization is not required to build Direct Connect, the developers have already done that. However, an organization can serve as the first-step in an increase of collaboration between developers and users (and between developer groups).

#### What are the by-laws of the organization?

The organization’s by-laws can be seen in [By-laws]({{ make_url('/bylaws/') }}) and discussed at [the forum]({{ make_url('forum.dcbase.org/viewtopic.php?f=96&t=902') }}).

#### Where can I read the organizational meetings?

All meetings that the organization holds can be found at [Meetings]({{ make_url('/meetings/') }}).

#### What services does DCNF manage?

The organization manages the dcbase.org website and the [DC development hub](adcs://hub.dcbase.org:16591). The organization also manages the ADC and NMDC protocol sites, as well as the DC Plugin.

#### What services does DCNF intend to manage in the future?

The intention is to add services for members to use, for example websites or source code repositories.

#### What services does DCNF spend money on?

There are two things currently:

1.  Website server (total cost 259 €/year)
2.  Domain (total cost 7.9 €/year)

#### What are DCNF’s responsibilities?

The organization is responsible for the services it manages, but is also responsible for providing accurate (or as accurate as possible) information in regards to legal matters and user information.

#### Who are part of DCNF?

The organization currently has members in France, Finland, Hungary, Sweden and USA.

The board consist of the following people:

1.  Fredrik Ullner / Pretorian (Chairman, Treasurer)
2.  Crise (Secretary)
3.  cologic (Member)

The stand-in (supplementary) board consist of the following people:

1.  iceman
2.  poy

There are currently in total 6 members.

#### Does the organization store or share personal information about members or donators?

Generally we store only the minimum required information about our members or donators, most of it not publically accessible in any way. We do not share information without a valid reason, such as being legally required to do so, and an explicit manual request. For further details see our [Privacy]({{ make_url('/privacy#privacy') }}) page.

#### What countries does the organization have services in?

DCNF have resources or services in three countries

1.  Sweden
2.  France
3.  USA

#### What legal responsibilities does DCNF have?

As the organization have resources in multiple countries (including the EU), the organization is required to follow laws in respective country for those services. Although the organization is legally required to adhere to only each country’s laws (for those services), DCNF has decided to employ the same basic set of internal rules of conduct and management regardless of country a service resides in, so that the organization does not need to make specific rules per country (implementing the lowest common denominator).

The organization employs Electronic Frontier Foundation’s proposals for how developers should act in the face of legal matters, [IAAL: What Peer-to-Peer Developers Need to Know about Copyright Law]({{ make_url('www.eff.org/wp/iaal-what-peer-peer-developers-need-know-about-copyright-law') }}).

#### Who can join DCNF?

The organization must, according to Swedish law and Finance Department (Skatteverket), include all members that apply with one exception. The organization is not required to allow those who intentionally disrupt services for DC (see the by-laws).

See the Swedish constitution (Svensk författningssamlig 1974:152) and Skatteverket (”Öppenhetskravet”) for further information regarding user base exclusion.

#### Who can donate to DCNF?

Basically anyone. The organization itself does not pose requirements on those who can donate (see below caveat).

There is also no limit to how much one can donate, but it may be wise to inform the organization if large contributions will be made (above 1000 €), as to address potential flagging in donation or bank services (so we can verify the origin of the funds).

The Swedish government (Inspektion för Strategiska Produkter, ISP) dictates which countries (and people) that are under financial sanctions or embargoes. DCNF cannot accept anything from these countries or people. If there is any suspicion that DCNF have been sent anything from said countries or people, then DCNF will promptly return that content. See [ISP for further information]({{ make_url('www.isp.se/sa/node.asp?node=1239') }}).

#### How can I donate to DCNF?

See the information at [the main page]({{ make_url(base_url) }}).

#### How can I contribute to DCNF?

See the information at [Contribute]({{ make_url('/contribute/') }}).

#### What documents and resources exist?

See the information at [Resources]({{ make_url('/resources/') }}).
